[2014-05-16 17:35] wboykinm commented on #758
Awesome. Thanks!

[2014-05-17 14:52] cappelaere opened #762 "Markers not showing up in PhoneGap/Xcode Simulator (and probably device)"
mapbox.js 1.6.2
Runs fine in Browser.  But when running in xcode simulator for IOS (the one I am using right now), image markers are not found (question mark).  Using Safari Web Inspector, I see this:
<img src='//api.tiles.mapbox.com/mapbox.js/v1.6.2/images/marker-icon-2x.png'...
Problem disappears when adding protocol "http:"
Thanks,
Pat.

[2014-05-17 15:16] tmcw commented on #762
[PhoneGap doesn't play well with protocol relative urls](http://stackoverflow.com/questions/17620882/application-error-on-android-cordova-phonegap-application). We might want to start advertising just the HTTPS url, but not sure about what effect this will have on mixed-content HTTP

[2014-05-19 16:57] tmcw commented on #752
All examples are with an out-of-date Leaflet, not sure if this is a good idea.

[2014-05-19 16:59] tmcw commented on #760
These would need coordinate references to be positioned on the map - otherwise there's no telling where they are in the world and how big they are versus geographical coordinates.

[2014-05-19 18:07] tmcw commented on #757
y close enough https://www.mapbox.com/mapbox.js/example/v1.0.0/timeline-scaled-markers/

[2014-05-19 18:07] #757 closed, assigned to nobody

[2014-05-19 18:11] tmcw opened #763 "simultaneous interaction with multiple utfgrid layers"
possible, not too tricky to do.

[2014-05-19 18:49] wboykinm opened #764 "Example: resurrect multitooltip.js"
[Remember this](http://bl.ocks.org/tmcw/4046615#8.00/36.900/-78.680)?

[2014-05-19 20:37] notflip opened #765 "Geocoder duplicate and missing results"
When using the geocoder, When i search for a city, it returns a street in that city, not the city itself. And some streets are shown multiple times.. ( see screenshot )

You can see an example if i query for 'drongen' a city, it returns an address
http://api.tiles.mapbox.com/v3/notflip.hojkfi0h/geocode/drongen.json

![mb](https://cloud.githubusercontent.com/assets/4146384/3019678/655c0962-df95-11e

[2014-05-19 20:38] tmcw commented on #765
This would be at the API level, rather than Mapbox.js's interface - cc @yhahn

[2014-05-19 20:39] notflip commented on #765
Aha sorry. Can this be moved or do i recreate it?

[2014-05-19 20:41] yhahn commented on #765
@notflip can you make a ticket in https://github.com/mapbox/carmen/issues

In particular, what city are you searching for in this case?

[2014-05-19 20:41] #765 closed, assigned to nobody

[2014-05-19 20:41] notflip commented on #765
The city is called 'drongen' Thank you

[2014-05-20 18:10] tmcw commented on #742
@hemantgudadhe please open a new issue with complete code, if you can provide more information.

[2014-05-20 18:10] #742 closed, assigned to nobody

[2014-05-20 18:13] #690 closed, assigned to tristen

[2014-05-20 18:14] tmcw opened #766 "detectRetina: true by default"
for 1.6.4: we should finally make the jump here. Sharp by default.

[2014-05-20 18:21] tristen commented on #690
Well, this is stale but it's still actionable.

[2014-05-20 18:22] tmcw commented on #690
Fine to reopen if you want to grab this & do it.

[2014-05-20 19:38] ghost opened #767 "Refine the Bruce-Partington Plans example"
Some suggestions from HipChat convo about making the [Bruce-Partington Plans](https://www.mapbox.com/mapbox.js/example/v1.0.0/scroll-driven-navigation/) example more intuitive:
1. Disable zoom scroll on the map
2. Allow scrolls anywhere to be picked up by the right sidebar.
3. Don't zoom in quite so far when jumping to a new location so that it's easier to see context.
4. Include an open callout w

[2014-05-21 03:09] #767 closed, assigned to nobody

[2014-05-21 12:15] ghost commented on #767
:+1: nice!

[2014-05-21 14:33] tmcw commented on #763
Actually super straightforward https://www.mapbox.com/mapbox.js/example/v1.0.0/multilayer-utfgrid/

[2014-05-21 14:33] #763 closed, assigned to nobody

[2014-05-22 08:27] tsfir commented on #733
Same Here

[2014-05-22 14:51] tmcw opened #768 "Example with Torque"
This is possible, but seems a little sprawly, torque is more complex than one might hope.

[2014-05-22 14:52] tmcw opened #769 "engelwood.js demo"
I think this is doable for today.

[2014-05-22 14:54] javisantana commented on #768
If you need help with this...

[2014-05-22 15:08] tmcw commented on #768
It doesn't look like there's a cdn-hosted version of torque, or one concated with carto? Mapbox.js examples have moved to only using hosted libraries, so that copy & paste works

[2014-05-22 15:10] tmcw commented on #769
Eh, actually complexified by https://github.com/Leaflet/Leaflet/issues/1961 - waiting on 0.8....

[2014-05-22 15:34] javisantana commented on #768
http://libs.cartocdn.com/torque.full.js (carto included)

if you want to point to a fixed version:

http://libs.cartocdn.com/torque.js/2.4.0/torque.full.js

[2014-05-22 16:03] tmcw commented on #768
Cool, I'll queue this up. Is there a cartodb table I can hit for a demo?

[2014-05-22 16:07] tristen opened #770 "Space to account for `.leaflet-popup-close-button`"
![](http://cl.ly/VfNE/Screen%20Shot%202014-05-22%20at%2012.05.27%20PM.png)

[2014-05-22 16:08] tristen commented on #770
Another option is to remove the close button completely? It should behave the same way as the standard popup.

[2014-05-22 16:09] javisantana commented on #768
we use the navy one used in this article: http://www.theguardian.com/news/datablog/interactive/2012/oct/01/first-world-war-royal-navy-ships-mapped

the leaflet example using it is: https://github.com/CartoDB/torque/blob/master/examples/navy_leaflet.html

we use that for our examples and it's located in a "examples server" so it will not change.

[2014-05-22 16:10] tmcw commented on #770
Let's not do that. Mapbox.js should not significantly change default Leaflet functionality, especially not disabling it at a CSS level.

[2014-05-22 16:19] tmcw commented on #768
Ah, that isn't going to work - mapbox.js examples are https-only and https://libs.cartocdn.com/torque.full.js isn't valid

[2014-05-22 16:21] javisantana commented on #768
https://cartodb-libs.global.ssl.fastly.net/torque.full.js

is the host we use for https

[2014-05-22 16:44] bsudekum opened #771 "https://www.mapbox.com/mapbox.js/example/ 404s"
https://www.mapbox.com/mapbox.js/example/ 404s

This should redirect https://www.mapbox.com/mapbox.js/example/v1.0.0/ or to the latest examples.

[2014-05-22 16:49] tmcw commented on #771
Are there any links to this page?

[2014-05-22 19:11] tsfir commented on #733
I will be very happy if you somebody will help me understand how to work around this problem,
I develop a map module for my client for his new mobile  web site via Mapbox.
The development was running perfect until I discovered this issue (unfortunately only after finishing the map module) and in this condition the project will not be delivered to the client (at my testing the situation is worst th

[2014-05-22 19:23] chschie commented on #733
We ultimately changed the user-agent to make it run in desktop mode (where this isn't an issue). Risky, comes with unknowns, but in light of no better alternative, it appears to work.

[2014-05-22 19:30] tsfir commented on #733
thanks for your response
I tried This code  with no luck - is this what you mean in changing the user-agent ?

[code]

[2014-05-22 20:40] bsudekum commented on #771
Not that I know of. From a usability stand point it makes sense though, no?

[2014-05-22 21:21] mourner commented on #733
You are probably hitting a workaround for an Android bug that made click fire two times on one tap. It puts a timer that ignores clicks that happen closer than 500ms to each other (the delay was 1000 but was reduced recently). Another lead to this is that the lua script above generates clicks 300ms apart.

Try removing these lines https://github.com/Leaflet/Leaflet/blob/master/src/dom/DomEvent.js#

[2014-05-22 23:40] tsfir commented on #733
Unfortunately its not  my case. I upload a "real user" video of my self clicking or "trying to click" on the map markers the first marker popup was opened after something like 5 clicks and the second I stoped counting.
http://1drv.ms/1ni5g0i

[2014-05-23 06:24] mourner commented on #733
@tsfir your using a version that doesn't include some fixes on the matter. Please try using Leaflet stable branch build + Mapbox standalone.

[2014-05-23 06:40] tsfir commented on #733
thanks @mourner
Sorry on my low level but if you can please a little guide of what you mean "mapbox stand alone" how to use leaflet stable branch build will be very appreciated

[2014-05-23 07:21] tsfir commented on #733
OK,  I think I figured it out,
did you meant by those ref ?

[code]

and .... still the same- clicks are eaten up.

[2014-05-23 07:30] mourner commented on #733
@tsfir yes, but try this Leaflet version instead (but don't use in production, it's for testing purposes):

[code]

[2014-05-23 09:32] mourner opened #772 "Release with Leaflet 0.7.3"
Leaflet 0.7.3 is hot off the oven so we need another point release some time.

[2014-05-23 10:14] tsfir commented on #733
Perfect !!!
Thanks you @mourner  so much...
every click - works!
now what I am going to do with the production ?
I need to deliver this project in a month or so  (and I don't want to return to google API)

[2014-05-23 10:29] mourner commented on #733
@tsfir Great to hear that! I've just released Leaflet 0.7.3 that includes the fix. I think mapbox.js minor release will follow shortly. :)

[2014-05-23 10:29] #733 closed, assigned to mourner

[2014-05-23 14:23] tsfir commented on #733
Just in time (-:
Thanks Again

[2014-05-26 01:49] #770 closed, assigned to nobody

[2014-05-26 06:20] valscion opened #776 "Scrolling lags on iOS when touch starts on an a-element"
When mapbox CSS file is loaded on the page, it induces a noticeable delay on the start of scrolling on iPad/iPhone when the touch starts on an `<a>` element and DOM is quite large.

We recently shipped a new release of our website with Mapbox map added and had to quickly revert back to an old version after finding out scrolling was hindered when started on non-mapbox elements. We then debugged the

[2014-05-26 08:42] mourner commented on #776
Wow, thanks for the report. Who knew one selector would cause such a difference.

[2014-05-26 13:23] tristen commented on #776
Thanks for the report! this style is only required when a control element is in a hover state as a background-color is applied. I wonder if this would make a difference:

[code]

@VesQ could you confirm?

[2014-05-26 13:25] mourner commented on #776
Mobile devices don't have a hover state usually so it should fix it.

[2014-05-26 14:55] valscion commented on #776
I'll test this tomorrow on a proper device. It does seem reasonable to expect the proposed change to help, but knowing what the issue was in the first place, I would not be hasty to close this issue... who knows what Safari wants or doesn't want to do.

[2014-05-26 17:00] tristen opened #778 "Remove old docs crawled by swiftype"
Going to try something out here.

[2014-05-26 17:43] tristen commented on #778
lol dupe https://github.com/mapbox/mapbox.js/issues/683

[2014-05-26 17:43] #778 closed, assigned to nobody

[2014-05-27 19:26] tmcw commented on #768
https://www.mapbox.com/mapbox.js/example/v1.0.0/torque-temporal-data/

[2014-05-27 19:26] #768 closed, assigned to nobody

[2014-05-27 19:39] tmcw commented on #766
Haha, so, uh,

|  | detectRetina=false | detectRetina=true | detectRetina=undefined |
| --- | --- | --- | --- |
| retinaVersion=true | no | yes | yes |
| retinaVersion=false | no | yes | no |

[2014-05-27 19:52] tmcw opened #780 "standalone buttons broken"
http://localhost:3000/test/manual/standalone.html

![2014-05-27 at 3 52 pm](https://cloud.githubusercontent.com/assets/32314/3096814/792389ea-e5d8-11e3-98d7-54fd4309f5b7.png)

[2014-05-27 20:04] #780 closed, assigned to tristen

[2014-05-27 20:24] tmcw commented on #766
Fixed in #781

[2014-05-27 20:24] #766 closed, assigned to nobody

[2014-05-27 20:25] tmcw commented on #759
@danielfox Can you provide any more details? What the errors were in IE10, or if you were able to get this fixed?

[2014-05-27 20:27] tmcw commented on #760
Going to do this with a known georeferenced image, as in the leaflet docs: http://leafletjs.com/reference.html#imageoverlay

[2014-05-27 20:29] tmcw commented on #738
Gotcha. GridLayer does not inherit from TileLayer, so doesn't automatically have this feature: we'll have to add to https://github.com/mapbox/mapbox.js/blob/autoscale-true/src/grid_layer.js#L156-162 to implement.

[2014-05-27 20:30] tmcw commented on #720
@incanus this is a css trick - it doesn't require any images.

[2014-05-27 20:32] tmcw commented on #464
works now

![2014-05-27 at 4 32 pm](https://cloud.githubusercontent.com/assets/32314/3097322/fe063b58-e5dd-11e3-9212-fae898a456eb.png)

[2014-05-27 20:32] #464 closed, assigned to nobody

[2014-05-27 20:33] tmcw commented on #333
Let's punt: this should be in Leaflet-land if anywhere, and we aren't getting any user reports of this.

[2014-05-27 20:33] #333 closed, assigned to nobody

[2014-05-27 21:35] tmcw commented on #606
Okay, this is fine for an implementation detail.

[2014-05-27 21:35] #606 closed, assigned to nobody

[2014-05-27 21:35] #473 closed, assigned to nobody

[2014-05-28 00:12] geografa opened #782 "Directions API example"
showing results of Directions API call.

edit: ...or wait for official release?

[2014-05-28 00:17] tmcw commented on #782
This one

[2014-05-28 11:14] danielopitz commented on #759
@tmcw I used the approach you mentioned (Leaflet way of initializing the map and adding tile layer to it) and this is my workaround ATM. I won't be doing complex stuff for a while, so it is not necessary to initialize it the mapbox.js way, but would rather be good in the future.

Recently I tested the mapbox.js map initialization in IE once more and there was a small improvement - IE asked to allo

[2014-05-28 14:22] tmcw commented on #759
Hm - okay, sounds like IE10 doesn't allow CORS for local files. This is unfortunate, but it's a corner case that shouldn't really affect the design here.

[2014-05-28 14:22] #759 closed, assigned to nobody

[2014-05-29 20:06] tmcw opened #784 "Ruler example"

[2014-05-29 20:06] tmcw commented on #772
Should we push this to next week?

[2014-05-29 21:02] mourner commented on #772
Yes, no rush.

[2014-05-30 15:33] #745 closed, assigned to nobody

[2014-05-30 16:55] tristen commented on #784
https://github.com/mapbox/mapbox.js/pull/785

[2014-05-30 16:55] #784 closed, assigned to nobody

[2014-05-30 20:35] tmcw opened #786 "Show markers _as_ labels"
Weirdly common question - people want labels that show all the time.

[2014-06-01 01:52] wboykinm commented on #786
[The](http://resources.arcgis.com/en/help/main/10.1/index.html#//00s800000026000000) [legacy](http://gis.stackexchange.com/questions/26702/how-to-place-elevation-numbers-on-contours-with-uphill-orientation-and-position) of [GIS](http://docs.autodesk.com/CIV3D/2013/ENU/index.html?url=filesCUG/GUID-0F9ADC32-F54E-4BC3-87EC-9E3BF2DC0DD0.htm,topicNumber=CUGd30e85884) . . .

[2014-06-02 04:31] lordaugustus opened #787 "Blurry image when browser default zoom is larger than 100%"
For example in higher resolution laptop screen, many would change the default zoom ratio to say 125%. This would lead to blurry map as the tile images are also zoomed.

[2014-06-02 14:13] tmcw commented on #787
This is the same behavior as the core library, [Leaflet](http://leafletjs.com/), and the same as any image in a webpage when your browser is zoomed - the only real way to fix this is to not use browser zoom, and change your screen resolution if necessary.

[2014-06-02 14:13] #787 closed, assigned to nobody

[2014-06-02 16:25] tmcw commented on #761
I'm not sure what this would be... you mean like rclark's example of geojson embedded in utfgrid?

[2014-06-02 16:26] tmcw commented on #760
https://www.mapbox.com/mapbox.js/example/v1.0.0/imageoverlay-georeferenced/

[2014-06-02 16:26] #760 closed, assigned to nobody

[2014-06-02 16:30] iandees commented on #761
Yea, I think that's what I am thinking about.

[2014-06-02 16:32] tmcw commented on #761
Hm. I'd rather stall on that. People tend to be confused enough about what is utfgrid/raster/hoverable/canvas/svg/leaflet/geojson that we should just punt on trying to make any more compromises until the vector future is real.

[2014-06-02 16:32] #761 closed, assigned to nobody

[2014-06-02 16:33] tmcw opened #788 "Support overriding geometryToLayer in L.mapbox.featureLayer"

[2014-06-02 17:19] tmcw opened #789 "Geocoder should include map features in results (maybe?)"
This is a common user expectation - you add a point to the map, and find it via searching with the search box. Is this a good idea? I really don't know.

[2014-06-02 17:22] tmcw opened #790 "Leaflet OSM example breaks in Firefox"
See https://github.com/ubergesundheit/mapbox.js/commit/4006df869e60d6a5b9e1d11fc38804e8207a2636

[2014-06-02 17:27] tmcw commented on #790
Fixed in b2fab8014a3b7e6b1ea4ca56179cc5abe70a6eba

[2014-06-02 17:27] #790 closed, assigned to nobody

[2014-06-03 20:41] jfirebaugh opened #791 "Remove/deprecate HTTP_URLS / HTTPS_URLS configurability"
As a public API, these are misleading: only the first URL in the array is ever used.

They also complicate questions of backward compatibility. E.g., when we release a version of Mapbox.js that uses Mapbox API version v4 and API keys, do we continue to support setting these to `['http[s]://a.tiles.mapbox.com/v3/']`? Other values?

[2014-06-04 19:56] tmcw commented on #791
:+1: we should switch from an array to a single entry.

I do think these should still be configurable, though - it's useful for staging, mocking and if people want to build their own mapboxen.

I imagined that we would always release a new version of mapbox.js when we release a new api version, and it would have a different default endpoint.

[2014-06-04 20:49] jfirebaugh commented on #791
Cool, doing that in v4 branch.

[2014-06-04 20:49] #791 closed, assigned to nobody

[2014-06-04 21:33] yhahn opened #792 "v4 @2x handling"
@jfirebaugh OTOH when using the Mapbox v4 api mapbox.js can:
- Drop all handling/logic around the `autoscale` flag in tilejson,
- Leave the 256 virtual pixel (DOM) image size alone,
- Append the `@2x` suffix to tile URLs when `window.devicePixelRatio` says so.

The _only_ thing that needs to change when on a retina screen is using the `@2x` suffix.

cc @tmcw

[2014-06-04 21:37] jfirebaugh commented on #792
Do we want to continue to support [TileLayer `retinaVersion` option](https://www.mapbox.com/mapbox.js/api/v1.6.3/l-mapbox-tilelayer/)?

Do we want to support turning the default autodetection off, via `{detectRetina: false}`?

[2014-06-04 21:48] yhahn commented on #792
Per convo, both of these options will be dropped as they amount to hacks/stopgap solutions.

[2014-06-04 22:53] #683 closed, assigned to nobody

[2014-06-04 23:30] #719 closed, assigned to nobody

[2014-06-05 07:45] danielopitz commented on #759
Funny thing - it started working today (local HTML file in IE10 with Mapbox.js map initialization). I have no idea why, it just works without any problems (and nothing was changed in IE settings, no windows update, nothing).

[2014-06-05 10:27] nerik commented on #404
Here's a quick and dirty grunt task to make a local copy of the mapbox assets (including images)
https://gist.github.com/nerik/64e4798d2bf1c19800f6
(also does other things related to our assets pipeline)

[2014-06-09 20:46] geografa opened #794 "page reloads on enter for geocoder keepOpen"

[2014-06-10 15:29] tmcw opened #795 "Handling protocol-relative vs IE vs"
:crying_cat_face:

So:
- Protocol relative URLs do not work with PhoneGap, because it uses non-http or https urls.
- Protocol relative URLs do not work with people who open HTML files in browsers without local servers

But
- Hardcoding HTTPS could break IE's fragile `XDomainRequest` system we use for XHR.

---

Thus: we either need instructions for PhoneGap/people who open HTML files, or need to t

[2014-06-10 15:49] tmcw opened #796 "natural earth for the web set"
:full_moon_with_face:

I have a dream of a website that's like [Natural Earth](http://www.naturalearthdata.com/) except it serves [GeoJSON](http://geojson.org/), pre-simplified to rational browser sizes. So, the basics like:
- US States
- Countries
- ZCTAs
- Congressional Districts

So, like [us-atlas](https://github.com/mbostock/us-atlas) except GeoJSON-focused, not TopoJSON, you don't need to ru

[2014-06-10 15:56] wboykinm commented on #796
Not to be confused with @nvkelso's [version](https://github.com/nvkelso/natural-earth-vector/tree/master/geojson)? I mean there are obvious limitations on size coming from github, but you might test there . . .

[2014-06-10 16:00] tmcw commented on #796
Basically picking up the torch from that version, yeah - making that easily downloadable and tuning simplification based on size rather than meters. Unfortunately it's pretty unlikely that natural-earth-vector will move much.

[2014-06-10 17:05] nvkelso commented on #796
Tell me more...

On Tue, Jun 10, 2014 at 9:00 AM, Tom MacWright notifications@github.com
wrote:

[2014-06-10 19:05] jfirebaugh commented on #795
Something like [this](https://github.com/mapbox/mapbox.js/compare/protocols) would prevent IE breaking in cross-protocol scenarios.

It makes protocol-relative XHR requests work for PhoneGap/`file://`, but of course `<script src='//a.tiles...'` and the like will still fail. I guess maybe we just always use https in docs/examples?

[2014-06-11 19:05] tmcw commented on #796
It doesn't look like `natural-earth-vectors` has been updated for a year, and isn't integrated into NaturalEarthData.com?

[2014-06-11 20:27] nvkelso commented on #796
The natural-earth-vectors repo is integrated into NaturalEarthData.com.

I'm confused why this is being forked instead of maintained directly?

On Wed, Jun 11, 2014 at 12:05 PM, Tom MacWright notifications@github.com
wrote:

[2014-06-11 20:56] Patryk1098 commented on #345
I'm also getting this error; request.js is trying to call JSON3.parse() on a geocoder.query() response. Using the latest MapboxJS (manual build -had to fix something with the geocoder.query call manually), latest require.js.

[2014-06-11 22:02] tmcw commented on #796
Huh - maybe I'm missing the part of the site where you can download GeoJSON? [this kind of listing page](http://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-admin-0-countries/) doesn't have it...

[2014-06-11 22:58] Patryk1098 commented on #345
~~FYI @ansis -I tried applying your patch 24dd5ff but haven't had any success. I'm fairly certain I'm doing something (simple) wrong.~~

Got it. That should tide me over. Thanks!

[2014-06-11 23:31] ansis commented on #345
If you use the latest build without your custom fix, do you still hit a requirejs error?

[2014-06-11 23:39] Patryk1098 commented on #345
Just downloaded the latest .zip, ran a build, still got the error:
request.js:18 "Uncaught TypeError: undefined is not a function"

[2014-06-12 06:26] vicmosin commented on #264
So finally, do you have plans for implementing this feauture or not? This ticket is open for more than 1 year...

[2014-06-12 15:07] nvkelso commented on #796
GeoJSON are all in the GitHub repo now:

[code]

If they need extra or different processing, let's add it directly to the
main repo via a change to the Makefile instead of making a shadow fork,
please.

The source shapefiles are listed on individual download pages; other format
flavors are listed on the main download page:

[code]

Now that GeoJSON and TopoJSON are well established, those can be p

[2014-06-12 15:20] tmcw commented on #796
Cool: that's what I'm looking for, basically: previewing and downloading GeoJSON of useful size for Leaflet, without doing the GitHub dance. I'd PR it but the .com is a WP site.

[2014-06-12 18:00] #345 closed, assigned to ansis

[2014-06-12 18:44] #794 closed, assigned to nobody

[2014-06-12 19:17] #737 closed, assigned to nobody

[2014-06-12 22:08] jfirebaugh commented on #772
Released

[2014-06-12 22:08] #772 closed, assigned to nobody

[2014-06-12 22:14] jfirebaugh opened #798 "broken link on intro page for previous versions"
E.g. on https://www.mapbox.com/mapbox.js/api/v1.6.3/, "Check out v1.6.4 for the latest" links to https://www.mapbox.com/mapbox.js/api/v1.6.4/v1.6.3/.

[2014-06-12 23:44] tmcw opened #799 "test with zuul"
It's possible. will devlog tomorrow

[2014-06-16 20:14] tmcw opened #801 "tabbed tooltips -> mapbox.js example"
@tristen want to adapt http://bl.ocks.org/tristen/34691e93026d1de2d937 into an example?

[2014-06-16 20:23] tristen commented on #801
Sounds good.

[2014-06-17 14:41] tmcw opened #803 "Compress dist"
Looks like CF now supports gzip, so let's do it.

[2014-06-17 14:42] tmcw commented on #803
GRR NOOO

[2014-06-17 14:42] #803 closed, assigned to nobody

[2014-06-17 14:43] yhahn commented on #803
lol

[2014-06-17 17:08] #801 closed, assigned to tristen

[2014-06-17 17:12] aaronlidman opened #804 "Code blocks have too much spacing"
![screen shot 2014-06-17 at 1 00 52 pm](https://cloud.githubusercontent.com/assets/58878/3303684/1e973024-f642-11e3-9968-2b6f99241633.png)

Seems to be leaflet originating documentation only. Ex. https://www.mapbox.com/mapbox.js/api/v1.6.4/l-events/

[2014-06-17 17:14] tmcw commented on #804
We could probably do the HTML 'compact spaces' trick here, like `str.replace(/\s{2,}/ /g)`

[2014-06-17 19:20] tmcw commented on #795
@jfirebaugh's fix fixes this.

[2014-06-17 19:20] #795 closed, assigned to nobody

[2014-06-17 19:29] tmcw opened #805 "Fix copy and paste"
need to update to next zeroclipboard changes.

[2014-06-17 19:32] tristen commented on #805
Done in https://github.com/mapbox/mapbox.js/commit/dded49df3990aa4551da2ff69a630c17a7943e2b

[2014-06-17 19:32] #805 closed, assigned to nobody

[2014-06-17 19:55] #755 closed, assigned to nobody

[2014-06-18 13:56] willwhite commented on #792
Done with a5ac82a61e9fea46d5057499e0fbc408d975c904 ?

[2014-06-18 13:56] willwhite opened #806 "v4 support"
Roundup ticket tracking remaining actions for a beta release that supports v4 web services API.

Looks like a lot is complete in the [v4 branch](https://github.com/mapbox/mapbox.js/commits/v4).
- [x] API keys
- [x] Pull jsonp
- [x] Retina #792
- [x] www.mapbox.com integration https://github.com/mapbox/www.mapbox.com/pull/4205
- [x] Embed user's API token in examples

What else do we need to hit?

[2014-06-18 17:20] jfirebaugh commented on #792
Yes

[2014-06-18 21:48] jfirebaugh commented on #806
Working on a beta release and mapbox.com integration today.

[2014-06-20 20:45] #806 closed, assigned to nobody

[2014-06-23 18:46] #804 closed, assigned to nobody

[2014-06-23 18:47] aaronlidman commented on #804
Fixed in https://github.com/mapbox/mapbox.js/commit/d8788b2c361fb4bd9dfe0145e26429f94e1e4e74

![screen shot 2014-06-23 at 2 44 16 pm](https://cloud.githubusercontent.com/assets/58878/3362120/6ed33dd0-fb06-11e3-9ec2-e0b632677d03.png)

[2014-06-24 00:33] lbud opened #810 "'Displaying WMS layers' example NOAA source broken"
The temperature toggle in [Displaying WMS layers](https://www.mapbox.com/mapbox.js/example/v1.0.0/wms/) doesn't do anything right now -- seems like there's an issue with the NOAA source?

[2014-06-24 00:35] tmcw commented on #810
Sigh, this is the Last Remaining WMS Server On The Internet That We Can Rely On®. Will have to look for alternatives if it's starting to crumble.

[2014-06-24 00:49] jfirebaugh commented on #810
It seems to go up and down, see #529.

[2014-06-24 01:20] lbud opened #811 "GeoJSON Marker from Github example broken"
[GeoJSON Marker from Github](https://www.mapbox.com/mapbox.js/example/v1.0.0/geojson-marker-from-remote-url/) looks like it should do more and is unhappy?

[2014-06-24 01:24] jfirebaugh commented on #811
Adding `xhrFields: { withCredentials: false }` to the `$.ajax` options will probably fix this.

[2014-06-24 01:44] #811 closed, assigned to nobody

[2014-06-26 13:15] aborruso opened #812 "Help with Opacity control"
Hi,
I have seen your opacity control example page (https://www.mapbox.com/mapbox.js/example/v1.0.0/opacity/) and I would like to modify it, and to start with the slider at its minimum (nearby full transparency ).

I have tried to change the code, but I'm not able to to do it.

Thank you

[2014-06-26 15:48] tmcw commented on #812
Please contact support at support@mapbox.com - this issue tracker is for bugs & potential features.

[2014-06-26 15:48] #812 closed, assigned to nobody

[2014-06-26 15:49] aborruso commented on #812
You are right, I'm very sorry. Thank you very much

[2014-06-26 19:35] jfirebaugh opened #813 "v0.6.7 example redirects are broken"
https://www.mapbox.com/mapbox.js/example/v0.6.7/ should redirect to https://www.mapbox.com/mapbox.js/example/v1.0.0/

[This post](https://github.com/mapbox/mapbox.js/blob/mb-pages/docs/_posts/examples/redirects/v0.6.7/0100-01-01-auto.html) generates a redirect from https://www.mapbox.com/mapbox.js/auto/ to https://www.mapbox.com/mapbox.js/example/v1.0.0/ -- not what was intended.

(c2d616950f29671

[2014-06-27 00:31] lbud commented on #810
it's baaa-aaaack

What is happening with the green is beyond me (green = hot, green = cold...?) but hey.

[2014-06-27 00:31] #810 closed, assigned to nobody

[2014-06-27 02:14] tmcw commented on #810
the rainbow colored thing is america `¯\_(ツ)_/¯`

[2014-06-30 13:56] tmcw opened #814 "Documentation bug: gridLayer doesn't fire load event, fires ready."

[2014-07-01 16:19] tmcw opened #815 "worldCopyJump example"

[2014-07-01 20:53] tmcw opened #816 "Switch to aws-cli"
s3cmd sucks

[2014-07-01 21:12] tmcw commented on #816
Done in fb300f05c76bf9cbdc7f37258352207facfc6b8d - gzip at last.

[2014-07-01 21:12] #816 closed, assigned to nobody

[2014-07-02 22:03] jfirebaugh opened #817 "TypeError: Cannot read property 'center' of undefined"
In the v2.0.0 geocoder control, if you search for something and no results are returned, this error occurs:

[code]

[2014-07-02 22:09] tmcw opened #818 "/v4/ tests need to handle retina"
![2014-07-02 at 6 08 pm](https://cloud.githubusercontent.com/assets/32314/3463083/7dabb400-0235-11e4-9df3-acaaeaf4d64c.png)

tests need to handle retina screens

[2014-07-02 22:11] tmcw opened #819 "/v4/ tests need to handle https"
![2014-07-02 at 6 10 pm](https://cloud.githubusercontent.com/assets/32314/3463112/c1853ce6-0235-11e4-925c-47cbbcce2fe6.png)

some test servers will run on https.

[2014-07-02 22:14] tmcw opened #820 "strict check for gridLayer seems odd"
https://github.com/mapbox/mapbox.js/blob/v4/src/grid_control.js#L23-27

L.mapbox.gridLayer != L.Class

[2014-07-02 22:55] jfirebaugh commented on #818
@tmcw Does ^ fix all the retina test failures?

[2014-07-02 23:12] jfirebaugh commented on #819
There are failures related to https/http mismatch on mb-pages as well -- we've got some work to do if this is a test environment we want to support.

[2014-07-03 06:25] sanketsahu commented on #404
Bower support is much needed.

[2014-07-10 03:34] muan opened #821 ""Uncaught TypeError: Cannot read property '0' of undefined" when using Geocoder"
Hi. :wave:

`L.mapbox.geocoder(id).query('wherever', function(err, obj) {})` triggers
`Uncaught TypeError: Cannot read property '0' of undefined` in mapbox.js(v1.6.4).

I can't get into the callback to catch the error since it errors before that.

I found 3 strings that trigger the same error: `wherever`, `ひよし`, `LCY`. Looks like the location is just not found... Thoughts? :grimacing:

[2014-07-10 03:40] muan commented on #821
Just tried with `v1.3.1` and it works fine. EDIT: all fine until `v1.6.3`.

[2014-07-10 14:44] tmcw commented on #821
Ah, this may be related to a format change in geocoding, will check it out. Thx for reporting!

[2014-07-15 21:20] schickling commented on #726
:+1:

[2014-07-20 02:30] tmcw opened #825 "Tiles don't load on omnivore kml example"
https://www.mapbox.com/mapbox.js/example/v1.0.0/omnivore-kml-tooltip/

hm. not sure what's going on here - http requests are there, dom elements are not.

[2014-07-20 03:10] tmcw commented on #759
Open to alternatives here: unless I'm missing something, if you're developing a webapp locally, you should be doing so with a local server like SimpleHTTPServer or one of the many alternatives. Non-`http` or `https` protocols are very much 'voiding your warranty' in terms of how web pages in general will behave.

[2014-07-22 01:19] makenosound opened #827 "Can't zoom to maximum without toggling layer"
I’m seeing a strange issue in where users can’t zoom to the maximum available range until they toggle a layer on or off. You can see it in the gif below:

![Zoom bug](http://files.icelab.com.au/drops/max/1405991857-mapbox-zoom.gif)

The source for the above is from the [Layers example in the Mapbox docs](https://www.mapbox.com/mapbox.js/example/v1.0.0/layers/), and I’m seeing the same on my projec

[2014-07-22 16:08] tmcw opened #828 "Inset Alaska/Hawaii example"

[2014-07-22 16:32] wboykinm commented on #828
Oh hell yes. [Albers U.S](http://bl.ocks.org/mbostock/4090848) leaflet-style.

[2014-07-22 18:10] #828 closed, assigned to nobody

[2014-07-22 20:07] simonlevasseur opened #829 "L.mapbox.Map does not use L.Map options after initialization"
When I attempt to merge options in L.Map and then create a map instance, the options are not present on the instance.

For example:
- Load mapbox.js
- Call: L.Map.mergeOptions({ test: true });
- Init map: L.mapbox.map(element, defaultLayerId, mapOptions);

this.options.test -> does NOT exist
L.Map.prototype.options.test -> exists
L.mapbox.Map.prototype.options.test -> does NOT exist

I understand

[2014-07-24 21:17] Nolski commented on #404
+1 for bower support. I understand that it may take time due to the way things are set up but closing a ticket because it takes work doesn't seem like a valid excuse to me.

[2014-07-24 21:22] tmcw commented on #404
`¯\_(ツ)_/¯` I'll reopen the ticket, but as before, open to PRs here - they get stuff done faster than +1ing

[2014-07-29 21:27] tmcw commented on #825
Works now `¯\_(ツ)_/¯`

[2014-07-29 21:27] #825 closed, assigned to nobody

[2014-07-29 21:34] #815 closed, assigned to nobody

[2014-07-29 21:48] #786 closed, assigned to nobody

[2014-07-29 21:56] tmcw commented on #553
Too sprawly for core. Example: https://www.mapbox.com/mapbox.js/example/v1.0.0/marker-list-click/

[2014-07-29 21:56] #553 closed, assigned to nobody

[2014-07-30 16:53] tmcw opened #832 "v2.0.0 status"
@jfirebaugh seeing some support volume come in about v2.0.0 - it's what you get if you `npm install mapbox.js`, and the switched version on mapbox.com is creating some [dead links](https://www.mapbox.com/help/set-map-position/) to non-existent docs wherever we use `{{mapboxjs-version}}` or similar. What's the best strategy here?

[2014-07-30 17:46] tmcw commented on #752
Scrapped, not maintained.

[2014-07-30 17:46] #752 closed, assigned to nobody

[2014-07-30 20:59] tmcw commented on #762
Closing: use http.

[2014-07-30 20:59] #762 closed, assigned to nobody

[2014-07-30 21:00] tmcw commented on #771
I don't think so. Nice to have, but not a priority.

[2014-07-30 21:00] #771 closed, assigned to nobody

[2014-07-30 21:01] tmcw commented on #691
Closing: not an error, not all examples are designed to be fleximobile and so on.

[2014-07-30 21:01] #691 closed, assigned to nobody

[2014-07-30 21:01] tmcw commented on #682
Yeah, works for me now, must've been a Chrome thing.

[2014-07-30 21:01] #682 closed, assigned to nobody

[2014-07-30 21:08] #818 closed, assigned to nobody

[2014-07-30 21:25] jfirebaugh commented on #832
2.0 is live.

[2014-07-30 21:25] #832 closed, assigned to nobody

[2014-07-30 21:47] #424 closed, assigned to nobody

[2014-07-31 14:37] Anahkiasen opened #833 "geocoder.query returns a 404"
I was using 1.6.\* of Mapbox until recently, I'm trying to setup 2.0 but I'm encountering a problem when it comes to Geocoding, here is my code:

[code]

Pretty straightforward stuff, but when the function is actually called, although it properly pings `http://a.tiles.mapbox.com/v4/geocode/maximefabre.ibf3ciod/France.json?access_token=myToken` I get the following response:

[code]

Anything change

[2014-07-31 17:26] jfirebaugh commented on #833
Hi @Anahkiasen. You are correct that there was a change in 2.0, namely that the geocoder now uses the [v4 geocoding API](https://www.mapbox.com/developers/api/geocoding/), which no longer accepts arbitrary map ids. Instead, you can use one of the predefined geocoding indexes. The one that gives you the same data as before is `mapbox.places-v1`. So try the following:

[code]

I will update the docu

[2014-07-31 18:26] 84564221 opened #834 ""Error: An API access token is required to use Mapbox.js" - 2.0.0"
deleted

[2014-07-31 18:34] jfirebaugh commented on #834
Sorry about that. The correct URL is: https://www.mapbox.com/mapbox.js/api/v2.0.0/api-access-tokens/

You may also want to look over https://www.mapbox.com/mapbox.js/api/v2.0.0/upgrading-from-mapbox-js-v1/

[2014-07-31 18:36] #834 closed, assigned to jfirebaugh

[2014-07-31 18:42] Anahkiasen commented on #833
Ok good to know, I looked in the docs and examples indeed but didn't find any. Didn't know about the upgrade notes either. Changes in the data structure don't bother me, it's expected for a 2.0 release. Guess this can be closed then.

[2014-07-31 18:50] #833 closed, assigned to jfirebaugh

[2014-07-31 19:10] 84564221 opened #835 "Creating Mapbox.js objects with accessToken does not work (2.0.0)"
You can create Mapbox.js objects with the `accessToken` option parameter.

[code]

This does not work. However, you need to set `L.mapbox.accessToken = '<your access token>';`.

![321331](https://cloud.githubusercontent.com/assets/812964/3770060/5654d810-18e6-11e4-9b60-c12daf1c40e1.png)

Reference: https://www.mapbox.com/mapbox.js/api/v2.0.0/api-access-tokens/

[2014-07-31 19:19] jfirebaugh commented on #835
You are replacing the string `'<your access token>'` with your actual access token, right?

This example code works as expected when I provide my access token. Could you be more specific about what doesn't work?

[2014-07-31 19:33] jfirebaugh commented on #835
Can you please provide the complete code? If you prefer not to post it publicly, you can contact help@mapbox.com and I can assist you there.

[2014-07-31 20:01] jfirebaugh commented on #835
Well, that's still not the complete code -- it has references to `this.model.get('position')`. But I substituted fixed coordinates there and can see what the issue is. If you are not setting the global `L.mapbox.accessToken`, you need to supply an access token to `L.mapbox.featureLayer` as well, so it can load icons from the marker API.

[code]

[2014-07-31 20:01] #835 closed, assigned to jfirebaugh

[2014-07-31 20:02] jfirebaugh commented on #835
Oops, that example code should be:

[code]

[2014-07-31 20:16] #817 closed, assigned to nobody

[2014-08-01 16:51] seb-thomas commented on #792
Hey guys, will you be doing an example or docs about how to use retina tiles in v2.0?
We're using mapbox.js with our own, non-mb tiles, and using a separate tileset rather than getting tiles from the next zoom level like Leaflet does is really important to us as our map changes drastically between zoom levels.

thanks.

[2014-08-01 17:09] tmcw commented on #792
Yeah, reopening - this needs better documentation and examples.

[2014-08-03 19:06] jfirebaugh commented on #480
Hmm, I couldn't get `clip` to work. @mourner you applied it to the `leaflet-marker-icon` elements? That doesn't seem to affect pointer events.

[2014-08-03 19:16] mourner commented on #480
Yes, and it limits pointer events as expected for me in Chrome at least. BTW, I wonder why is there no pointer cursor on markers, this feels super weird.

[2014-08-04 08:48] bunkat opened #837 "Uncaught TypeError in L.mapbox.geocoder v2.0.0"
I just moved to version 2.0.0 of the Mapbox Javascript API and am trying to use the geocoder. I've provided my API key and switched over to using `mapbox.places-v1` for the geocoder id but now I'm getting a TypeError.

Here is how I'm calling the geocoder:

[code]

And this is the exception that is being thrown:

[code]

[2014-08-04 16:35] jfirebaugh commented on #480
@mourner Can you PR your change? Something must be different. On [examples like this](https://www.mapbox.com/mapbox.js/example/v1.0.0/centering-markers/) there are pointer cursors and `clip` doesn't affect them.

[2014-08-04 16:37] jfirebaugh commented on #837
Duplicate of #817 -- this has been fixed for 2.0.1.

[2014-08-04 16:37] #837 closed, assigned to jfirebaugh

[2014-08-04 16:38] mourner commented on #480
@jfirebaugh it's nothing special, just `clip: rect(auto auto 40px auto)` on `.leaflet-container img.leaflet-marker-icon` set in dev tools (markers are smaller there).

[2014-08-04 22:35] tmcw opened #838 "Console test is not paranoid enough"
https://github.com/mapbox/mapbox.js/blob/mb-pages/src/util.js#L9

This needs to say `typeof console`. Should not test truthiness of globals.

[2014-08-05 15:28] wboykinm opened #839 "Duplicate examples"
These are both searchable at the examples page:
- https://www.mapbox.com/mapbox.js/example/v1.0.0/change-zoom-control-location/
- https://www.mapbox.com/mapbox.js/example/v1.0.0/zoom-control-position/

Though I see that only the latter appears under "UI" in the nav sidebar.

[2014-08-05 17:46] #838 closed, assigned to nobody

[2014-08-05 17:49] tmcw commented on #749
You can use L.Class to extend the L.mapbox.ShareControl class and [replace the _shareClick](https://github.com/mapbox/mapbox.js/blob/mb-pages/src/share_control.js#L51-94) function with something custom - I don't see a clean way to make this configurable by default.

[2014-08-05 17:49] #749 closed, assigned to nobody

[2014-08-05 17:50] #814 closed, assigned to nobody

[2014-08-05 17:59] tmcw opened #840 "README for testing locally"
Running this locally with Jekyll no longer works - the staging server doesn't hand out API keys. @jfirebaugh can you document the cheatcode necessary to make this work?

[2014-08-05 18:49] jfirebaugh commented on #840
This was an issue with the staging servers, now fixed.

[2014-08-05 18:49] #840 closed, assigned to nobody

[2014-08-06 06:44] aborruso commented on #749
Thank you

[2014-08-06 16:41] tmcw opened #843 "Send example to jsfiddle or jsbin"
This would lead to easier tinkering, but
- no url api for jsbin. would need gists
- what to do about api keys

[2014-08-07 10:19] aborruso opened #844 "About "List markers and pan to clicked items""
Hi,
I have seen the code of this example https://www.mapbox.com/mapbox.js/example/v1.0.0/marker-list-click/, but where is the source text of the makerList?

Thank you

[2014-08-07 13:08] tmcw commented on #844
The text is automatically grabbed from the markers, which are stored in the Mapbox project used in that example: https://a.tiles.mapbox.com/v3/examples.map-zr0njcqy.html#12/38.9070/-77.0460

[2014-08-07 13:23] aborruso commented on #844
Thank you very much

[2014-08-07 13:24] #844 closed, assigned to nobody

[2014-08-07 19:51] tmcw opened #845 "Rework example header"
![2014-08-07 at 3 51 pm](https://cloud.githubusercontent.com/assets/32314/3848082/41eb77e0-1e6c-11e4-9dcf-9d57541db26b.png)

Clutter

[2014-08-09 01:10] #710 closed, assigned to nobody

[2014-08-09 01:19] jfirebaugh opened #846 "load examples in an iframe"
And change the examples that depend on jQuery to actually have a script tag that loads it from the jQuery CDN. (Not having this tag trips people up, and it only happens to work right now because the page already has jQuery loaded.)

http://stackoverflow.com/questions/4199458/specifying-content-of-an-iframe-instead-of-the-src-to-a-page

[2014-08-11 16:49] #845 closed, assigned to nobody

[2014-08-11 20:04] #839 closed, assigned to nobody

[2014-08-11 21:44] tmcw opened #847 "copy example button should copy example with a token in it"

[2014-08-13 02:09] tedmcdo opened #848 "Map markers not responding on Android"
For some reason, the markers on my map are incredibly unresponsive (tapping them often does nothing) on a Nexus 4 using Chrome. Works in Firefox, so the issue is most likely Chrome.

[2014-08-13 03:54] tedmcdo commented on #848
I am using Android 4.4.4

[2014-08-13 16:27] tmcw commented on #848
Is this on a page on mapbox.com? A page elsewhere? Can you post a link?

[2014-08-13 18:16] tedmcdo commented on #848
http://198.199.102.123
On Aug 13, 2014 9:27 AM, "Tom MacWright" notifications@github.com wrote:

[2014-08-14 13:00] aborruso opened #849 "Usage with Browserify"
Hi all,
I'm testing mapbox Browserify use, and it's very useful.

Where is it possible to download mapbox.css file and all required images, useful to run properly mapbox in an own server without any external dependency?

Thank you very much,

Andrea

[2014-08-17 23:36] pecinec opened #850 "Map on a page with a form not responding to touch gestures when viewed on iPhone"
When adding a map to a contact page that contained a standard contact form I found out the following:
- having a form on a same page as a map makes the map sloppy (very delayed or no response to touch events) when viewing on iPhone
- the level of sloppiness depends on the number of input fields in the form

See examples:
- [A map without a form](http://pecin.ec/mapbox-map/)
- [A map with a form](h

[2014-08-18 14:09] tristen opened #851 "Geocoder results not populating result name in Firefox"
![screen shot 2014-08-18 at 10 07 54 am](https://cloud.githubusercontent.com/assets/61150/3952353/4eac1944-26e1-11e4-82d7-08647085cd16.png)

[2014-08-18 15:01] tmcw opened #852 "Radius search example"
Given a large'ish number of points, show an interface that only shows points within a given radius. Pretty simple, either with `distanceTo` or whatever.

[2014-08-18 18:21] #851 closed, assigned to nobody

[2014-08-18 18:26] tmcw commented on #850
I'm not seeing a difference between these two examples, on an iPhone 5S, running iOS 7

[2014-08-18 18:48] #852 closed, assigned to nobody

[2014-08-18 20:39] pecinec commented on #850
Hi Tom,

I tested it on iPhone 4S, running iOS7. I suspect the problem might be a block of little inefficient traversing code in mapbox.js that works fine on fast machines but on little slower ones starts causing trouble.

[2014-08-18 20:41] tmcw commented on #850
Mapbox.js doesn't traverse over non-map elements in a page - unless you can distill this down into a narrow test case or replicate it on a non-iOS client, I don't think there's a route to getting it changed.

[2014-08-18 21:03] pecinec commented on #850
If you were able to compare the examples on iphone 4S, or older, you'd see the difference. I looked into mapbox.js and couldn't find any suspicious piece of code either, so I'm not sure why it's happening but the correlation is evident. The more input fields in a form anywhere on a page with a map, the less responsive the map is to touch events. Interestingly enough, the controls (zoom, layers etc

[2014-08-19 16:42] #404 closed, assigned to nobody

[2014-08-19 19:30] mikejcorey opened #856 "GridLayer with tilejson failing to load in 2.0.1 (works in 1.6.4)"
I'm running into problems getting a GridLayer to load that worked fine in a previous version: 1.6.4.

The error happens when I try to load a GridLayer with a TileJSON (which is referring to tiles/grids stored on S3) like so:

[code]

This triggers multiple errors. My best guess is that it's trying and failing to load the appropriate JSON files:

`(This repeats 18 times): Uncaught SyntaxError: Unex

[2014-08-19 19:35] jfirebaugh commented on #856
@mikejcorey Can you drop a link to a single grid tile on S3 so I can see the contents?

[2014-08-19 19:35] tmcw commented on #856
Sounds like this may be related to the dropping of JSONP support in 2.0.1. Can you try using mapbox.uncompressed.js to get a more specific error with a line number?

[2014-08-19 19:38] mikejcorey commented on #856
Tom: Whoops, forgot to do that before: request.js, line 26

Uncaught SyntaxError: Unexpected token g request.js:26

J: The whole tileset is there if you want it at the bottom of the code, but I can find a specific one if you want.

[2014-08-19 19:45] jfirebaugh commented on #856
Yeah, please do. I don't know what zoom levels or bounds are in that tileset and 0/0/0 didn't work.

[2014-08-19 19:48] jfirebaugh opened #857 "airplane is out of control on "Rotating and controllable marker" on IE 9"
![directions](https://cloud.githubusercontent.com/assets/98601/3972085/ce6b8c70-27d9-11e4-80bf-4956517fc42c.gif)

[2014-08-19 19:49] tmcw commented on #857
this is a fair and balanced simulation of what it is like to use ie9

[2014-08-19 19:55] tmcw commented on #799
zuul is great, Sauce Labs is not to be trusted. Without a browser CI solution that doesn't suck, this isn't worth it.

[2014-08-19 19:55] #799 closed, assigned to nobody

[2014-08-19 19:59] #846 closed, assigned to jfirebaugh

[2014-08-19 20:28] mikejcorey commented on #856
Oh, right:
A blank one:
http://cir-static-apps.s3.amazonaws.com/pesticides-tiles/PesticidesBasemapConcern/0.9.5/8/41/92.grid.json

One with data:
http://cir-static-apps.s3.amazonaws.com/pesticides-tiles/PesticidesBasemapConcern/0.9.5/8/41/98.grid.json

[2014-08-19 20:35] jfirebaugh commented on #856
Yeah, looks like your tiles have a JSONP `grid` callback baked in. Mapbox.js v2.0.0 no longer supports JSONP -- you'll need to regenerate your grid tiles as plain JSON or stay with 1.6.4.

[2014-08-19 20:35] #856 closed, assigned to nobody

[2014-08-19 20:36] mikejcorey commented on #856
Is it exporting them this way because of an outdated MBUtils installation maybe?

[2014-08-19 20:43] jfirebaugh commented on #856
Yeah, looks like outdated code there. I just removed it: https://github.com/mapbox/mbutil/commit/efa0e4f7cc28d31db37a4335abe06105c5af24c4

[2014-08-19 21:05] tmcw opened #858 "Update readme for 2.x"
This should have changed with the 2.x merge.

[2014-08-20 15:16] tristen opened #859 "Should retina tiles be served when tileSize is doubled?"
http://bl.ocks.org/tristen/0e9d6613138888bc09e1

[2014-08-20 17:27] jfirebaugh commented on #859
No, let's not re-complicate how retina tiles work.

If you _really_ want to use retina tiles as if they were just regular 512 pixel tiles, you can do something like:

[code]

[2014-08-20 17:27] #859 closed, assigned to nobody

[2014-08-22 08:52] valscion commented on #776
Sorry for this taking so long. We actually changed our design quite rapidly in the end and I didn't manage to get the time to try this fix.

I still don't see why the fix would work. As knowing [what CSS selectors are performant](http://csswizardry.com/2011/09/writing-efficient-css-selectors/), just adding another qualifier to the a-element hardly does anything **good** to the performance. Mainly

[2014-08-23 10:04] vanhumbeecka opened #861 "Tile loading problem"
While trying out phonegap+jquery mobile development, i came across the following problem (testing on a physical nexus 5):
When using the following code, the map shows up OK:

[code]

However, when i split the layer from the map in 2 elements, the map tiles won't load. Not even when i add the 'redraw' to the layer:

[code]

Not sure if i'm doing something wrong, or it is a bug

[2014-08-23 19:06] tmcw commented on #861
[code]

is not equivalent to

[code]

The first form will
- Include any marker layers
- Use the tile layer's default center and zoom

The latter - using center and zoom - is what the main difference for you is. And the way to fix it (if you want to split the two) is to set a center and zoom for your map with `.setView`.

[2014-08-23 19:06] #861 closed, assigned to nobody

[2014-08-25 21:46] #858 closed, assigned to nobody

[2014-08-26 21:04] tmcw commented on #849
Yes, the node package includes these - you can either copy them out of the folder into your assets path, or use a route to `node_modules/mapbox.js/dist`, or use something like `brfs` to bring out the CSS.

[2014-08-26 21:04] #849 closed, assigned to nobody

[2014-08-26 22:50] paulmach commented on #480
+1 Clicking right at the end of the arrow will open the top bike marker vs. the bottom one that it's closest too.

![strava](https://cloud.githubusercontent.com/assets/366320/4053027/2a3b4de4-2d73-11e4-8e5f-3badf228d51b.png)

[2014-08-27 01:10] paulmach opened #862 "Show close button for geoJSON popups"
Basically run a `markerLayer.setGeoJSON(geoJson);` and all the popups don't have a closing 'x'. How can I make this true, or as an option.

See https://github.com/mapbox/mapbox.js/blob/a02a9d00b1545884b74a095f8ee97228c2cd72c3/src/feature_layer.js#L103

[2014-08-27 13:31] tmcw commented on #862
@heyitsgarrett looks like you made this call - https://github.com/mapbox/mapbox.js/commit/ef3905e8 - let's keep this as default but make it configurable?

[2014-08-27 23:15] paulmach commented on #862
I found a work around. I switched this:

[code]

to

[code]

That's probably the right way to do it. Feel free to close if you don't want to fix.

[2014-08-28 20:35] jtcornelius opened #864 "Don't show grid lines when zooming in and out on a map"
When you are zooming in and out on a map, you can see visible grid lines on the map (likely the map tile boundaries).  This detracts from the visual appeal of the zoom effect.

Desired behavior: don't show grid lines when zooming

[2014-08-28 20:36] tmcw commented on #864
Please post a complete example (a link to a working webpage that demonstrates this issue), and let us know what browser you're using.

This isn't the observed behavior of Mapbox.js on any browsers I use and know of.

[2014-08-28 20:44] heyitsgarrett commented on #864
Please also confirm that the zoom of your browser is 100%, not over- or under-zoomed, as that will reveal gaps between tiles.

[2014-08-28 21:36] jtcornelius commented on #864
Wow, great response guys!

Browser = Safari 7.0.6
Browser zoom level at 100%
This can be observed on your demo site with this sample:
https://www.mapbox.com/mapbox.js/example/v1.0.0/dynamically-drawing-a-line/

you will see vertical lines (presumably from between map tiles).

Note: I cannot reproduce this in chrome

[2014-09-02 00:19] samanpwbb opened #865 "Directions example weird behavior"
Clearing start or beginning values from directions examples removes geometries from the map but doesn't clear the directions sidebar. This leaves user is a weird state where they can interact with the sidebar, see a marker on the map hover, but without a visible route.

This feels wrong. I would clear the sidebar when one of the values gets cleared.

[2014-09-02 00:23] tmcw commented on #865
Can you post this [in the repo for that plugin?](https://github.com/mapbox/mapbox-directions.js)

[2014-09-02 00:44] samanpwbb commented on #865
See https://github.com/mapbox/mapbox-directions.js/issues/51

[2014-09-02 00:44] #865 closed, assigned to nobody

[2014-09-04 12:18] hailiang-wang opened #866 "Default to https when protocol is file"
hi, guys

I get a problem from with L.marker . I use mapbox.js within a [apache cordova](http://cordova.apache.org) project which is for iOS.  cordova is a hybrid developing platform for mobile apps.

I add mapbox.js into the web related pages. After adding below codes into my cordova/www/index.html, I can get the map which is very cool.

[code]

You can see, I also add a marker, but it fails to r

[2014-09-04 12:59] hailiang-wang commented on #866
hi, folks

I am able to fix this bug by modifying a line in src/mapbox.js .
In line 5, it is

[code]

If I change the imagePath to 'http://api.tiles.mapbo ... , nice marker shows up !
But I am not sure the impact of this change. Does anyone can give some suggestions ?

Thanks.

[2014-09-04 15:13] tmcw commented on #866
Yeah, so we [fix this with protocols](https://github.com/mapbox/mapbox.js/blob/a02a9d00b1545884b74a095f8ee97228c2cd72c3/src/request.js#L12) but need to do so with our base URLs... Cordova/PG use `file://` urls which trip up our relative protocol technique.

[2014-09-04 18:06] tmcw commented on #866
Fixed in a857e507d83c1ae517a83f65e7f06d0c8c903872 - this will be included in the next release.

[2014-09-04 18:06] #866 closed, assigned to nobody

[2014-09-04 18:07] tmcw commented on #864
/cc @mourner - I can also replicate the issue using Safari.

[2014-09-04 18:08] tmcw commented on #782
Done: https://www.mapbox.com/mapbox.js/example/v1.0.0/mapbox-directions/

[2014-09-04 18:08] #782 closed, assigned to nobody

[2014-09-04 18:44] wboykinm commented on #782
Am I missing something that this example isn't working on the mapbox page? Official release required?
![directions](https://cloud.githubusercontent.com/assets/735463/4154654/8de48bde-3463-11e4-86f3-00efed88272d.gif)

[2014-09-04 18:47] tmcw commented on #782
Currently only works by placing waypoints by clicking the map, rather than entering in text.

[2014-09-04 19:57] wboykinm commented on #782
AHA. Dope.

[2014-09-04 19:58] tmcw commented on #782
This is definitely very "work in progress", this is just getting it out in the open :)

[2014-09-04 20:04] wboykinm commented on #782
Can't wait to see what this looks like a few days after launch:

https://github.com/mapbox/mapbox.js/labels/whyaremydirectionsweird

[2014-09-04 22:14] #829 closed, assigned to nobody

[2014-09-08 15:11] tmcw commented on #843
Over to #871

[2014-09-08 15:11] #843 closed, assigned to nobody

[2014-09-09 17:01] tmcw opened #872 "Mapillary widget example"

[2014-09-09 23:15] tmcw commented on #789
Nah, this is better served by an example.

[2014-09-09 23:15] #789 closed, assigned to nobody

[2014-09-09 23:27] #862 closed, assigned to nobody

[2014-09-10 00:02] tmcw opened #874 "Update docs for popupOptions"

[2014-09-10 00:10] tmcw commented on #874
Done in 5b6e37cfbf15fed92117322d76a691d647d573e0

[2014-09-10 00:10] #874 closed, assigned to nobody

[2014-09-10 00:24] tmcw opened #875 "Update site to 2.1.0"
Waiting on CDN to resolve: https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.css

[2014-09-10 00:29] tmcw commented on #875
Done in 00bf81eb4525beb8c7baa89fa464761c86757281

[2014-09-10 00:29] #875 closed, assigned to nobody

[2014-09-10 00:50] wboykinm commented on #789
**A:** This is a good idea.

[2014-09-10 01:06] tmcw commented on #872
Shipped a minimal example - will do a second pass to do something cooler looking, like a widget in a tooltip or something.

[2014-09-15 22:09] jfirebaugh opened #876 "jsfiddle mixed content warning"
The page at 'https://www.mapbox.com/mapbox.js/example/v1.0.0/' was loaded over HTTPS, but is submitting data to an insecure location at 'http://jsfiddle.net/api/post/library/pure/': this content should also be submitted over HTTPS.

[2014-09-15 22:48] jfirebaugh commented on #876
Doesn't look like jsFiddle provides a https API. :frowning: @tmcw Do you think this feature is worth having mixed content warnings on all our example pages?

[2014-09-15 22:49] tmcw commented on #876
Yes, but feel free to confirm w/ segment.io tracking

[2014-09-15 23:51] jfirebaugh opened #877 "share control -- embed URL broken"
If you click (1) you get the share control w embed URL (2). URL is missing a "/" (3).

![image](https://cloud.githubusercontent.com/assets/851894/4279714/d0999154-3d23-11e4-8b5e-86eb7169d837.png)

[2014-09-16 00:06] #877 closed, assigned to nobody

[2014-09-16 00:11] jfirebaugh commented on #821
This is fixed in Mapbox.js 2.x.

[2014-09-16 00:11] #821 closed, assigned to nobody

[2014-09-16 00:11] jfirebaugh commented on #813
Eh, oh well.

[2014-09-16 00:11] #813 closed, assigned to nobody

[2014-09-17 17:33] wboykinm opened #878 "Legend list items no longer unstyled"
Looks like your parent CSS for `<li>` elements must have changed; [the choropleth example](https://www.mapbox.com/mapbox.js/example/v1.0.0/choropleth/) has a bulleted legend:
![2014-09-17_1330](https://cloud.githubusercontent.com/assets/735463/4308208/a15f6080-3e90-11e4-87cd-58084b9e2384.png)

[2014-09-17 17:37] jfirebaugh commented on #878
Probably was implicitly depending on base CSS prior to the [iframening](https://github.com/mapbox/mapbox.js/issues/846).

[2014-09-18 16:17] rajapulau commented on #782
i use code in example
https://www.mapbox.com/mapbox.js/example/v1.0.0/mapbox-directions/

i have error
GET https://api.tiles.mapbox.com/v4/directions/mapbox.driving/110.3472375869751…token=pk.eyJ1IjoicmFqYXB1bGF1IiwiYSI6IkFtdzYtanMifQ.kjDE091qu3CQPFnPkUxDGA 400 (Bad Request)

{"message":"Feature not enabled"}

[2014-09-18 17:54] mourner commented on #864
This was fixed in Leaflet master. Quite a bug I tell you. Hacking around it was really difficult.

[2014-09-18 18:08] #864 closed, assigned to nobody

[2014-09-22 15:32] jwass opened #879 ""marker-symbol: 0" not rendering"
If `marker-symbol` is set to 0 as a number not a string, the icon doesn't render. 1-9 will render okay.

This affects at least geojson.io and the github renderer:
- http://geojson.io/#id=gist:anonymous/a03199684d47b524fdfd&map=5/41.722/-73.784
- https://gist.github.com/anonymous/a03199684d47b524fdfd

You can duplicate this by adding a couple of points in geojson.io, adding a 'marker-symbol' column

[2014-09-22 15:34] tmcw commented on #879
This is something that [simplestyle-spec](https://github.com/mapbox/simplestyle-spec/tree/master/1.1.0#3-client-behavior) needs to be clearer about, we should at least strongly recommend strings.

But mapbox.js could do better https://github.com/mapbox/mapbox.js/blob/mb-pages/src/marker.js#L19

[2014-09-22 21:54] pdgoodman commented on #877
@jfirebaugh I continue to see broken URLs in the share field:

![image](https://cloud.githubusercontent.com/assets/851894/4364726/02ee2f0a-42a3-11e4-8b1e-df264905231e.png)

[2014-09-22 22:22] #879 closed, assigned to nobody

[2014-09-22 22:31] jfirebaugh commented on #877
@pdgoodman We haven't made a mapbox.js release (and corresponding embed updates) with this fix yet. Doing that now.

[2014-09-22 23:02] jfirebaugh commented on #264
This was added in 2.1.0.

[2014-09-22 23:02] #264 closed, assigned to nobody

[2014-09-26 18:00] grovduck opened #882 "UTF grids not flipped for xyz -> tms"
I'm storing UTFGrid tiles in an MBTiles file (using mb-util) and they are being stored as TMS (similar to the corresponding image tiles).  When I specify the TileJSON for the GridLayer, I am using `"scheme": "tms"`.  In digging through the code, it looks like the logic for the TileLayer is correctly converting XYZ to TMS in Leaflet (_adjustTilePoint), but it doesn't look like the GridLayer goes th

[2014-09-26 22:33] duncangraham opened #883 "Older Version redirect broken"
In the mapbox js api docs the [redirect for older versions is broken](https://www.mapbox.com/mapbox.js/api/v1.3.1/)

![redirect](https://cloud.githubusercontent.com/assets/865298/4428472/b3041004-45cc-11e4-8a53-e7079c20ba10.gif)

I found this because searching "mapbox js" on duckduckgo returns v1.3.1. (Google returns the latest version)

![screen shot 2014-09-26 at 3 28 35 pm](https://cloud.github

[2014-10-03 23:01] duncangraham commented on #883
It looks like the issue lies in this [this commit](https://github.com/mapbox/mapbox.js/commit/9e9c892c2e5d095cf33ffe6ddb02efbb7a0cd4f6)

![screen shot 2014-10-03 at 3 37 52 pm](https://cloud.githubusercontent.com/assets/865298/4513504/13b8fabe-4b4e-11e4-993d-23f695ef48fb.png)

@tristen is this change necessary anymore? I made [a branch that fixes the current error](https://github.com/mapbox/mapbox

[2014-10-06 20:27] #883 closed, assigned to tristen

[2014-10-07 19:20] apaleja opened #888 "setFilter causing problem : Unable to change feature property after filter"
When using [setFilter](https://www.mapbox.com/mapbox.js/example/v1.0.0/markers-with-multiple-filters/) with [List Items](https://www.mapbox.com/mapbox.js/example/v1.0.0/marker-list-click/), I am not able to change property of feature, such as [marker color change](https://www.mapbox.com/mapbox.js/example/v1.0.0/change-marker-color-click/).

This is so far, I've archived : [link](http://breaklo.com

[2014-10-07 22:49] jfirebaugh commented on #888
Hi @apaleja. `setFilter` works by removing all layers and then readding new layers that pass the filter. So you should move your `addLayerPopup` call to the `layeradd` handler (line 51) so that it gets called every time the marker layers are filtered.

[2014-10-07 22:49] #888 closed, assigned to nobody

[2014-10-09 13:28] rajapulau commented on #782
how to make Waypoint not using click ... but manual coordinat input and enter.. how i change this function?

[2014-10-09 13:28] rajapulau opened #890 "Change function click with manual enter on input"
how to make Waypoint not using click ... but manual coordinat input and enter.. how i change this function?

[2014-10-09 13:30] tmcw commented on #890
Please open a ticket on the relevant repository, [mapbox-directions.js](https://github.com/mapbox/mapbox-directions.js).

[2014-10-09 13:30] #890 closed, assigned to nobody

[2014-10-09 17:22] nicolasaiz173 opened #893 "Popup on marker not working on mobile devices"
I'm creating a map with Mapbox.js and I have a problem. I've added some markers to the map with a popup on each of them. Testing this on Chrome Desktop it works well, when I click the marker it shows the popup. But when I'm trying to do the same on mobile (Android and iOS) it doesn't work at all. On mobile the popup is never shown when I touch on them.

Anyone know why is this happening? And how t

[2014-10-09 19:29] tmcw commented on #893
Can provide specific code and a working example?

[2014-10-09 20:20] nicolasaiz173 commented on #893
Thanks @tmcw
I've sended you an email with some credentials.

[2014-10-10 16:16] nicolasaiz173 commented on #893
Ok, I created this [Fiddle](http://jsfiddle.net/nicolasaiz173/3ap4ge9n/) with the same code I have on my project. The weird thing is that the Fiddle works on mobile but the map on my project does not. The only difference is that in my app I'm using the Ionic framework with AngularJS.

There is a known issue related with Mapbox and Angular.JS?

[2014-10-12 17:56] tmcw commented on #893
Angular.js tends to cause many problems in many different ways. Unless you can provide an example of this actually working/not working in a jsFiddle, we won't be able to debug it.

[2014-10-12 17:56] #893 closed, assigned to nobody

[2014-10-13 17:53] tmcw commented on #882
That's certainly what we'd recommend. TMS is purely a legacy scheme and we don't recommend using it for grids or images.

[2014-10-13 17:53] #882 closed, assigned to nobody

[2014-10-14 20:32] 1parkplace opened #895 "Consider Adding New Popup Positioning option"
Other mapping solutions like Google and Bing for instance allow the popup (when clicked) to calculate a position that keeps it in the map, rather Mapbox only has support for either forcing the map to pan or having the popup load outside the visible frame, making the user pan to see it.

For many of us, having the popup pan the map creates a bad experience for our end-users, turning off panning cre

[2014-10-14 20:33] tmcw commented on #895
Yes, you can use [Rrose](http://erictheise.github.io/rrose/) for more fancy popup behavior.

[2014-10-14 20:33] #895 closed, assigned to nobody

[2014-10-17 15:58] nwp opened #897 "Zoom Control not styled correctly in IE8"
![jira-capture-screenshot-20141015-163213-687](https://cloud.githubusercontent.com/assets/16463/4681823/690f4cde-5616-11e4-878c-e001dda02fbd.png)

[2014-10-19 15:15] tristen commented on #897
@tmcw Are we supporting IE8?

@nwp I'd suggest adding a IE8 targeted stylesheet with the following CSS: https://gist.github.com/tristen/2818807c8c1dc9498753

[2014-10-19 15:16] tmcw commented on #897
@tristen yes, see the [third bullet point](https://www.mapbox.com/mapbox.js/api/v2.1.2/)

[2014-10-19 20:48] nwp commented on #897
I would submit that supporting IE8, which sucks BTW (I want to acknowledge that fact), means out of the box. Thus, it shouldn't require that Mapbox consumers use targeted stylesheets as suggested.

[2014-10-20 17:20] #897 closed, assigned to tristen

[2014-10-20 17:28] nwp commented on #897
When an issue is closed does that mean that it's deployed to production and that we should see it in our consuming apps? (We haven't tested yet, but just wanted to makes sure our expectations are correct.)

[2014-10-20 17:32] tristen commented on #897
Hey @nwp -- this will be packaged in a new version of mapbox.js. The bug has been addressed but it's not deployed yet.

[2014-10-20 18:47] nwp commented on #897
Is there any particular mechanism to determine when new versions have been deployed?

[2014-10-21 19:54] tristen commented on #897
@nwp Just https://mapbox.com/mapbox.js. fyi a new version is ready: https://www.mapbox.com/mapbox.js/api/v2.1.3/

[2014-10-21 20:27] jfirebaugh opened #901 "document release checklist"
In the style of https://github.com/openstreetmap/iD/blob/master/RELEASING.md.

[2014-10-22 19:04] DanielAguirre commented on #782
The directions can be localized in other languages?

[2014-10-22 21:24] lbud opened #902 "worldCopyJump markers not displaying"
https://www.mapbox.com/mapbox.js/example/v1.0.0/worldcopyjump/
![image](https://cloud.githubusercontent.com/assets/3170312/4744629/c2fc581c-5a31-11e4-83f6-eb8bae5c40dd.png)

[2014-10-22 21:25] tmcw commented on #902
/cc @tristen

[2014-10-23 14:31] tristen commented on #902
Hrm. So any example that uses L.marker ...

The src attributes are pointed at https://api.tiles.mapbox.com/mapbox.js/v2.2.0/images/marker-icon-2x.png when it should be https://api.tiles.mapbox.com/mapbox.js/v2.1.3/images/marker-icon-2x.png Note the `v2.2.0` difference in the path which is reflective an earlier [un-merged branch](https://github.com/mapbox/mapbox.js/pull/899).

I re-ran make and re-

[2014-10-23 15:00] tristen commented on #902
Alright. it looks like the CDN is just holding on to the earlier cached version. I guess the best option here is to bump the version to `v2.1.4` :baby_chick:

[2014-10-23 19:07] tristen commented on #902
v2.1.4 is deployed.

[2014-10-23 19:07] #902 closed, assigned to nobody

[2014-10-24 16:35] tatsvc opened #904 "Mapbox.js examples not working in IE9 (browserstack)"
I was testing [this bite](https://www.mapbox.com/bites/00058/) in IE9 via Browserstack, but it was not working. So I wanted to check if the [driving directions example](https://www.mapbox.com/mapbox.js/example/v1.0.0/mapbox-directions/) was working, but turned out none of the examples is working:

![screen shot 2014-10-24 at 12 20 56 pm](https://cloud.githubusercontent.com/assets/2894119/4772791/b

[2014-10-24 18:36] jfirebaugh commented on #904
git bisect lands on b1ad299087df2111111e5368154dfa31dda7e70b.

[2014-10-24 18:57] #904 closed, assigned to jfirebaugh

[2014-10-29 17:21] seb-thomas commented on #792
Hey @tmcw Sorry to bother you, any progress with this?

[2014-10-29 17:32] jfirebaugh commented on #792
@tmcw are you looking for a sentence somewhere that says "On retina screens, retina (@2x) tiles will be used automatically?" That's basically all that retina support amounts to. Mapbox.js 2.0 does not support `autoscale`, `detectRetina: false`, getting tiles from the next zoom level, or other retina-related things, and per usual convention, we do not document everything not supported. The differen

[2014-10-29 18:02] seb-thomas commented on #792
@jfirebaugh OK, thanks.
I guess the documentation should then read "retina tiles will be used automatically when using a Mapbox tileset".

[2014-10-31 13:58] jfirebaugh commented on #792
@joaodoria Sounds like a different issue, can you open a separate ticket, and include the exact URLs?

[2014-10-31 18:25] joaodoria commented on #792
@jfirebaugh sure! Just deleted the comment here and opened a new one. Thanks!

[2014-10-31 18:28] joaodoria opened #905 "Handling @2x urls cross-browser"
@jfirebaugh > Quick question: When generating the tiles through Mapbox studio, all 1x tiles work well cross-browser but the @2x ones only work well on Chrome.

When pasting the url address for each specific @2x tile on Chrome I get access to all of them individually but on Firefox and Safari I get a 404. Isn't that strange? Doesn't seem like cache-related – could it be either cookie-related, or so

[2014-11-03 21:37] jmoe opened #907 "Leaflet and Mapbox lib version confusion"
What version of leaflet is mapbox.js supposed to support? package.json has 0.7.3, but calling L.version on an example page returns 0.7.2.

Further, a page that loads V 2.1.4 of mapbox.js returns 2.1.3 when L.mapbox.VERSION is called.

Example Page
https://www.mapbox.com/mapbox.js/api/v2.1.4/

[2014-11-03 22:03] tristen commented on #907
@jmoe Thanks for the heads up. Looks like I missed a deploy step here. I'll need to publish a `v2.1.5` version of mapbox.js to resolve this one.

[2014-11-03 22:08] jmoe commented on #907
Cool. Totally random that I happened on that. I was looking for a bugfix in Leaflet 0.7.3 and that got me down the rabbit whole and noticed that other stuff.

[2014-11-03 23:27] tristen commented on #907
@jmoe On second thought I think I want to hold off on a whole new deploy here. Looks like 0.7.3 of Leaflet reports `0.7.2` version key despite the code being up to date (see https://github.com/Leaflet/Leaflet/issues/2735) and the same can be said for 2.1.4 of mapbox.js; it's just the hardcoded version key thats amiss, not the code.

[2014-11-05 20:31] tmcw commented on #907
Let's keep this open until the issue is fixed, even if that means a future version bump.

[2014-11-05 21:26] jmoe commented on #907
The odd part is that a bugfix that is supposed to be in Leaflet 0.7.3 doesn't appear to work when using the leaflet being loaded by mapbox.js. Will see if I can get you more concrete evidence of that.

[2014-11-05 21:34] jmoe commented on #907
You know what, I take it back, looks like the fix I'm looking for got in 3 days after the 0.7.3 release of Leaflet, as far as I can tell.

[2014-11-05 22:43] mourner commented on #907
@jmoe what's the fix?

[2014-11-06 03:40] jmoe commented on #907
This one:

https://github.com/Leaflet/Leaflet/issues/2489

If I'm reading the commit logs correctly it looks like this got in on May 26th and 0.7.3 was tagged on May 23rd? Just missed it!

Thanks for the followup, you guys rock. Srsly.

[2014-11-10 18:53] bsudekum opened #908 "`Copy Example` should also copy the `access_token`"
If a user clicks the `Copy Example` button, their `access_token` is not copied over, rather `L.mapbox.accessToken = '<your access token here>';` is copied.

Let's change this to copy over an access_token too.

[2014-11-10 18:59] jfirebaugh commented on #908
#847

[2014-11-10 18:59] #908 closed, assigned to nobody

[2014-11-10 23:39] #847 closed, assigned to nobody

[2014-11-11 00:58] peterqliu opened #911 "Tiles need to update on range slider action"
From the [demo](https://www.mapbox.com/mapbox.js/example/v1.0.0/swipe-layers/):

![range slider](https://cloud.githubusercontent.com/assets/4551508/4986651/9524fabe-693d-11e4-8cb9-ccd2fa2633bf.gif)

They do update when I zoom, of course, but I also need it when the slider moves, to maintain the desired illusion.

[2014-11-13 09:19] ghost commented on #695
I thought this had been fixed?
I'm using v2.1.4 (linking from your api) and I still get the warning in Chrome 38.0.2125.122 m (64-bit) on Windows 7
![mapbox-warning](https://cloud.githubusercontent.com/assets/4698220/5025938/c7eff6e6-6b1e-11e4-9ed7-d9688687c524.jpg)

[2014-11-13 17:50] jfirebaugh commented on #695
The remaining warnings come from Leaflet: https://github.com/Leaflet/Leaflet/issues/2258 (fixed on master branch but not in a release yet).

[2014-11-17 15:46] tmcw opened #912 "Demonstrate marker clustering with discrete types"
I would assume this means something like two different styles of markers and potentially two different styles of clusters. A commonly wanted thing.

[2014-11-17 15:47] tmcw opened #913 "example: Clusters of custom markers"

[2014-11-17 15:47] #769 closed, assigned to nobody

[2014-11-17 17:03] #912 closed, assigned to nobody

[2014-11-17 17:03] #913 closed, assigned to nobody

[2014-11-18 02:16] phongmh307 opened #914 "Map Rotation"
Hello,

Is there any way to rotate the map with MapBox?

Thanks

[2014-11-18 02:24] jfirebaugh commented on #914
Nope, sorry. Check out [Mapbox GL](https://www.mapbox.com/mapbox-gl/) for that.

[2014-11-18 02:24] #914 closed, assigned to nobody

[2014-11-21 16:38] stefanocudini opened #915 "deprecated native-buffer-browserify"
after npm install:

[code]

[2014-11-21 19:38] #915 closed, assigned to nobody

[2014-11-22 02:38] mtirwin commented on #911
Just ran into a similar issue with the slider while building an Atlas demo, though I'm only seeing intermittent updates when I zoom. I'm running Chrome on Yosemite, and the issue is replicable whether hitting the Mapbox.com API w/ online mapids or the Atlas API with offline mapids.

![brokenfade](https://cloud.githubusercontent.com/assets/7843542/5152542/ce9668fc-71c4-11e4-9294-1d18cb1afc98.gif)

[2014-11-23 17:37] mourner commented on #911
@mtirwin @peterqliu what are your browsers? The mapbox.js example is working fine for me in Chrome & Firefox under OS X.

[2014-11-23 18:14] mtirwin commented on #911
@mourner, I'm using Chrome version 38.0.2125.122 (current) on OSX Yosemite. The issue doesn't replicate on Safari.

[2014-11-23 18:44] mourner commented on #911
OK, managed to reproduce this, although it's happening sporadically... My guess is that it's a Chrome bug.

[2014-11-23 21:19] peterqliu commented on #911
@mourner yes, I just updated my Chrome and the problem disappeared for me. Should we close?

[2014-11-24 13:41] mourner commented on #911
Yeah, lets close — should go away with a Chrome update hopefully.

[2014-11-24 18:17] jfirebaugh commented on #911
FWIW, this is still happening for me in latest Chrome (38.0.2125.122).

[2014-11-24 18:33] peterqliu commented on #911
Yup, I'm seeing it again-- seems entirely sporadic. Reopened.

[2014-11-24 22:05] jfirebaugh commented on #911
@peterqliu Can you make a self contained example and submit an issue on https://code.google.com/p/chromium/issues/list?

[2014-11-28 23:22] geografa opened #917 "Swipe layer example breaks after zoom"
When zooming a map, swipe tool no longer works and tiles do not load properly.
https://www.mapbox.com/mapbox.js/example/v1.0.0/swipe-layers/

[2014-11-28 23:38] jfirebaugh commented on #917
Duplicate of #911.

[2014-11-28 23:38] #917 closed, assigned to nobody

[2014-11-28 23:39] geografa commented on #917
:+1:

[2014-12-01 13:39] tmcw opened #918 "Add Retina section to documentation homepage"
Apparently all our retina magic is underadvertised.

[2014-12-08 12:52] seb-thomas commented on #907
Hullo,
sorry, chasing this bug (https://github.com/Leaflet/Leaflet/issues/2489 - think it's a bug!) round the webs. I'm using mapbox.js, does this mean it will be in 2.1.5? thanks guyz

[2014-12-08 18:00] jfirebaugh commented on #907
@sebastianthomas That fix is not yet in any released version of Leaflet so I can't say when it will appear in Mapbox.js.

[2014-12-09 01:13] lookuptable opened #920 "Clicking on marker cause window to scoll in chrome"
Steps to reproduce:
1. Open the page https://www.mapbox.com/mapbox.js/example/v1.0.0/single-marker/ in Chrome
2. Resize the window of chrome so that the map is not 100% displayed.
3. Now click on the marker, which will cause the browser to scoll so that the whole map is fit in the current window of the browser with the mark staying unclicked.

Mapbox behaves differently when following the same ste

[2014-12-09 01:13] tmcw commented on #920
Would be upstream in Leaflet /cc @mourner

[2014-12-12 09:59] alexeyschepin opened #921 "Mapbox freezes Chrome browser"
I've just figured out that in some cases mapbox freezes Chrome browser in MacOS and Windows. However it works perfect in FireFox and Safari.
When this issue appears OS starts to lose all free memory (up to 15Gb)
I tried to profile it, but I was not able to find a bug.

[2014-12-12 15:27] tmcw commented on #921
Can you give examples of which cases, and code that replicates the issue - that way we can debug this problem?

[2014-12-12 22:00] heyitsgarrett commented on #921
Been seeing this too for the last week, hard to peg down specific steps. Fails silently as well.

### Specs
- Chrome OS X, Version 39.0.2171.95 (64-bit)

### Steps to reproduce:
1. Go to [sample page](https://a.tiles.mapbox.com/v4/heyitsgarrett.i03bibck/page.html?access_token=pk.eyJ1IjoiaGV5aXRzZ2FycmV0dCIsImEiOiIwdWt5ZlpjIn0.73b7Y47rgFnSD7QCNeS-zA#3/49.10/-66.27)
2. Draw bounding box (holding `SH

[2014-12-13 08:07] ghost commented on #893
If you haven't fixed this yet, try adding data-tap-disabled="true" on your map div

[2014-12-18 22:17] tmcw opened #924 "Add turfjs to plugins page"
one of these: https://github.com/mapbox/mapbox.js/tree/mb-pages/docs/_posts/plugins

[2014-12-19 17:57] #924 closed, assigned to nobody

[2014-12-31 02:20] nwp opened #926 "Mapbox not working on IE8"
Our QA team noticed today that Mapbox.js is no longer working on IE8.

![jira-capture-screenshot-20141219-124348-436](https://cloud.githubusercontent.com/assets/16463/5584908/2a37549a-9061-11e4-905a-42c9be7fea58.png)

[2014-12-31 20:09] 84564221 opened #927 "Provide a LICENSE file with bower"
Distribute the license file with bower

[2015-01-01 21:05] tmcw commented on #926
Can't replicate this using a testing instance running IE8 & Windows 7

![2015-01-01 at 4 05 pm](https://cloud.githubusercontent.com/assets/32314/5593249/039d4fae-91d0-11e4-8075-5582d3a64a16.png)

[2015-01-02 13:06] ignacionieto opened #928 "Zoom Control problem Angular (Ionic) Mapbox"
Im trying to work with Angular.js and Mapbox.

The map is loaded, from Mapbox with no problem. But the Zoom Control have problems, in the browser it shows the Zoom Control, but it doesnt appear in the Android Emulator. In the browser and in the emualtor, they dont work: they cant zoom in or zoom out.

I draw another Zoom Control and it happen the same problem, both in the browser appear and both d

[2015-01-02 15:53] ignacionieto commented on #928
I think is the CSS from leafflet. Beacuse when I put slider i wrote oter css styles tht work. I use the zoom slider from mapbox

[2015-01-08 21:31] tristen opened #929 "layer switching breaks "improve map" link"
It looks like the [edit link](https://github.com/mapbox/mapbox.js/blob/mb-pages/src/map.js#L135-L150) function is not called when the map layer is updated on the page (via a layer switcher) or when using `L.control.layers`.

To demonstrate, open https://www.mapbox.com/mapbox.js/example/v1.0.0/layers-control/  switch the map layer and select, _Improve this map_. The coordinates nor MapID is passed

[2015-01-08 21:49] jfirebaugh commented on #929
That doesn't sound like the right fix to me. Why is `_editLink` not being called when the map layer is updated on the page? Is it because the layer has already emitted a `ready` event and `_updateLayer` doesn't get called [here](https://github.com/mapbox/mapbox.js/blob/mb-pages/src/map.js#L85)? If so, the right fix is to change the code there to bind to the `ready` event (if the layer is not yet r

[2015-01-08 22:11] mtirwin commented on #911
@peterqliu did you submit an issue on Chromium? Noticing our slider's still broken on the latest version of Chrome (39.0.2171.95).

[2015-01-08 22:34] peterqliu commented on #911
@mtirwin I actually haven't submitted (my bad), but the bug has disappeared for me again. Would you mind submitting, since you are still experiencing this?

[2015-01-12 21:37] jfirebaugh opened #930 "default FORCE_HTTPS to true"
We should change the default for [FORCE_HTTPS](https://www.mapbox.com/mapbox.js/api/v2.1.4/l-mapbox-config-force_https/) to `true`.

We will need to make an exception for IE<10 however, where XDR restrictions force us to match the document protocol.

[2015-01-12 21:40] jfirebaugh commented on #926
@nwp Is this still an issue? If so can you provide any other configuration details that could help us replicate it?

[2015-01-12 21:42] jfirebaugh commented on #792
⇢ #918

[2015-01-12 21:42] #792 closed, assigned to nobody

[2015-01-12 21:51] jfirebaugh commented on #930
We can also make the XDR exception only for AJAX requests and always force https for tile requests.

[2015-01-13 05:00] ljbade opened #932 "Geocoder example does not say you can always get latlng"
In this example: https://www.mapbox.com/mapbox.js/example/v1.0.0/map-center-geocoding/

It says:

[code]

This is misleading as it sounds like you need to handle both cases. So if you want a `latlng` you need to get the centre of the `lbounds`.

In reality `latlon` is always set so you don't actually need to handle `lbound` in the simple case you just want a point.

[2015-01-14 02:24] alexkorban opened #933 "TileLayer ignores detectRetina option"
tile_layer.js:77 says:

[code]

Instead of L.Browser.retina, it should really be checking `options.detectRetina && L.Browser.retina`.

[2015-01-14 02:42] nwp commented on #926
This was an issue on our end. Apologies for the trouble. Mapbox is awesome.

[2015-01-14 02:42] #926 closed, assigned to nobody

[2015-01-14 18:32] jfirebaugh commented on #933
This is by design: all Mapbox tilesets support `@2x` tiles, and they will always be automatically used when appropriate. See #792.

[2015-01-14 18:32] #933 closed, assigned to nobody

[2015-01-14 18:49] alexkorban commented on #933
Maybe you could document this design then, so nobody wastes time on this? Your documentation says that TileLayer takes "same options as provided to L.TileLayer, with the following addition [...]".

[2015-01-14 18:52] jfirebaugh commented on #933
Agreed, we need to document it better: #918.

[2015-01-18 18:17] lxbarth opened #934 "Can't pan on Safari mobile"
Can't pan this map on Safari mobile https://www.mapbox.com/blog/japan-roads/

![img_9703](https://cloud.githubusercontent.com/assets/98233/5793511/4180a090-9f14-11e4-9b9c-3a73699a319c.PNG)

[2015-01-18 19:47] tmcw commented on #934
From the post's source:

[code]

Looks like this is intentional.

[2015-01-18 21:39] samanpwbb commented on #934
If you were able to pan on this map, it would be impossible to navigate anywhere else on the page because the map would steal all touch events.

[2015-01-18 22:24] ljbade commented on #934
Don't forget these maps can't pan with mouse on any machine with a touchscreen too! Basically Windows 8.

[2015-01-21 16:41] tonyspiro commented on #782
It this ready for release yet?  I'm getting "GET https://api.tiles.mapbox.com/v4/directions/mapbox.driving/-74.9789428710937…token=pk.eyJ1IjoiZGFubnl0NDc0IiwiYSI6IlF2UHFxMzgifQ.BFqY_Hcjv-OFeIZl9FHTfw 400 (Bad Request)"

[2015-01-22 21:36] chadwilcomb commented on #726
:+1:

[2015-01-24 02:20] tmcw commented on #567
These are now in https://github.com/mapbox/mapbox.js-bower but it's not really advertised at all.

[2015-01-24 02:21] #567 closed, assigned to nobody

[2015-01-25 20:59] askmatey commented on #927
Any updates ?

[2015-01-25 23:48] #927 closed, assigned to nobody

[2015-01-26 00:03] hy9be opened #936 "Support "tilesloaded" event for I.map"
In mapbox.js, there seems no event is implemented after the base map tiles are loaded and positioned, after a zoom or pan action. Events "viewreset" and "zoomend" are both triggered after the css transformation of the existing basemap layer, before new tiles are brought in and positioned.

I used to use google map api, and they have a "tilesloaded" event doing this job. The event is useful to inte

[2015-01-26 00:08] tmcw commented on #936
There's already [a closed upstream bug for this](https://github.com/Leaflet/Leaflet/issues/11) - let's keep this discussion in the Leaflet project, because that's where the functionality would live.

[2015-01-26 00:08] #936 closed, assigned to nobody

[2015-01-28 20:35] jfirebaugh opened #937 "plain-leaflet example should use v4 API"
https://www.mapbox.com/mapbox.js/example/v1.0.0/plain-leaflet/

Will need to manually append access_token parameter.

[2015-01-29 20:17] nicolasaiz173 commented on #928
Hi @ignacionieto

Have you tried using [this](http://ionicframework.com/docs/api/page/tap/)?
I had a similar problem and I fixed with that.

Hope it works.

[2015-01-30 10:15] ignacionieto commented on #928
thanks nicolas
finally i decide to make the prototipe only in javascript.
but it could be a posibility.
thank you very much
in

On 29/01/15 17:17, Nicolás Saiz Arismendi wrote:

[2015-02-02 19:10] jfirebaugh opened #939 "switch to master branch for mainline development"
Problem: `mb-pages` gets published to mapbox.com automatically, but we want to be able to make changes to documentation and examples which get published only when a new version of mapbox.js is officially released. We want to make those changes at the same time (often in the same commit) as the corresponding code changes, and we can't do that on `mb-pages`.

Solution: use the `master` branch for ma

[2015-02-02 19:29] #934 closed, assigned to nobody

[2015-02-02 20:23] heyitsgarrett commented on #934
@ljbade As the sole owner of this machine at Mapbox, it would be great if you dug in on the best way of correcting for this while still preserving the intent of the current JavaScript, which works for the majority of use cases. Squeaky wheels won't oil themselves :)

[2015-02-02 20:59] ljbade commented on #934
@heyitsgarret are you in SF for 9 - 20 Feb or DC 23 - 27 Feb? If so we can look at this IRL since this is a physical thing.

[2015-02-02 21:00] ljbade commented on #934
@heyitsgarrett - forgot the second t ^

[2015-02-03 01:14] incanus commented on #934
@ljbade Is this something you can probe into a bit ahead of SF? Do you know JS at all? Want to learn? :-)

[2015-02-03 01:21] jfirebaugh commented on #937
Fixed in 69f5bd807ad66e0b070087714fe2448f3aaa8141

[2015-02-03 01:21] #937 closed, assigned to nobody

[2015-02-03 01:25] jfirebaugh commented on #932
But if it does have bounds, you want to fit the bounds, i.e. change the zoom to a level that shows the entire object. That's the reason to handle lbounds differently.

[2015-02-03 01:25] #932 closed, assigned to nobody

[2015-02-03 01:30] jfirebaugh commented on #905
Yes, I see what you mean -- Firefox will not show [this tile](http://b.tiles.mapbox.com/v4/joaodoria.k295oi1j/4/3/8@2x.png?access_token=pk.eyJ1Ijoiam9hb2RvcmlhIiwiYSI6InUzWEpNVEUifQ.YDxhzwLQ_iGZ2xRnM6VLCA). Looking at the response headers, there is no `Content-Type` header, which is probably the issue. This is a bug in our tile server; we'll investigate.

[2015-02-03 02:19] jfirebaugh opened #940 "generate and publish external sourcemap"
The production build should include an external sourcemap that's uploaded to the CDN.

[2015-02-03 02:20] jfirebaugh commented on #940
Example: https://github.com/mapbox/mapbox-gl-js/commit/c9a8ff386af5fec8a5d3f9b789e807f3e4e27727

[2015-02-03 02:47] #940 closed, assigned to nobody

[2015-02-03 04:59] ljbade commented on #934
@incanus sure I can have a crack at it, but last time I looked at it every complain loudly that my Chrome was "doing it wrong" in respect to mouse vs touch events :-(

[2015-02-03 05:01] ljbade commented on #932
@jfirebaugh but it does not make it clear that for non-map view uses of geocoder you do not need to add logic to handle `lbound`.

Perhaps a second example showing how geocoder can be used outside the context of a map view is needed.

[2015-02-03 18:04] incanus commented on #934
@ljbade Ok, maybe we just drop it then? Choose your battles, etc.

[2015-02-03 20:05] ljbade commented on #934
@incanus I would still like to try since I don't know much about JS events.

[2015-02-04 22:57] jfirebaugh opened #941 "remove InfoControl in v3.0"
Proposal: we should remove the InfoControl in the next major version release of Mapbox.js.

We [ended up rolling](https://github.com/mapbox/mapbox.js/issues/744) the "Improve this map" functionality into map attribution, and turned off the info control by default. At this point I don't think it's narrow potential use (as a replacement for the attribution control in extremely space-constrained layo

[2015-02-04 22:59] tristen commented on #941
:+1: might be silly but this could always be a little Leaflet plugin.

[2015-02-06 13:54] lxbarth commented on #941
I'd be inclined, but: could info control be a responsive thing? Maps gets small -> attribution line turns into info control?

[2015-02-06 18:38] jfirebaugh commented on #941
:+1:, responsive attribution would be a good approach.

[2015-02-06 18:57] lxbarth commented on #941
Awesome. I love the responsive approach as it moves the decision from the developer to the library, simplifies our API and our documentation.

[2015-02-06 19:12] tristen commented on #941
Good plan. I can cut this in a branch.

[2015-02-06 22:09] mohsentaleb opened #943 "TileJSON properties not taken into account"
When initializing map with a tileJSON as the source, its properties such as minzoom, bounds etc, are not reflected into map view.

You use `this.redraw();` in https://github.com/mapbox/mapbox.js/blob/mb-pages/src/tile_layer.js#L57 but apparently this method does not set `this.options` of L.TileLayer.

[2015-02-06 22:57] jfirebaugh commented on #943
See [just above](https://github.com/mapbox/mapbox.js/blob/aa3c3d7bceb42c8da683128a254f75b1da5779dc/src/tile_layer.js#L47-L54) the line you linked for where `this.options` gets the TileJSON options.

Can you provide a JSFiddle that demonstrates the issue you are seeing?

[2015-02-07 01:37] jfirebaugh commented on #921
@forme, @heyitsgarrett -- still seeing this on latest Chrome?

[2015-02-07 08:00] mohsentaleb commented on #943
@jfirebaugh yeah, I see that `this.options` is extended, but `this.redraw()` doesn't seem to take the bounds into account. The bounds I set for the tileJSON is slightly bigger than the current view, but map can be panned further.

See this example: http://jsfiddle.net/pn3Lgs8j/1/

[2015-02-09 03:20] jfirebaugh commented on #943
As currently implemented, the [`bounds` option](http://leafletjs.com/reference.html#tilelayer-bounds) of a tile layer does not control where panning is allowed, only which tiles are loaded. If you want to limit panning, you need to use [`map.setMaxBounds()`](http://leafletjs.com/reference.html#map-setmaxbounds).

[2015-02-09 17:01] heyitsgarrett commented on #921
No longer an issue in latest Chrome ( version 40.0.2214.111 )

[2015-02-09 17:01] #921 closed, assigned to nobody

[2015-02-10 16:22] tmcw opened #945 "don't show 'improve this map' on print output"

[2015-02-11 17:28] #945 closed, assigned to nobody

[2015-02-11 20:19] kimmobrunfeldt opened #947 "Mapbox is painfully slow in mobile"
I switched from Google Maps to Mapbox because you have much better API and support for customizations. Thanks for the awesome work! However, Mapbox feels very slow when used from mobile compared to Google Maps.

The map tiles seem to load a bit slower in Mapbox but that's not the actual problem. The problem is that when Mapbox loads new tiles, user interactions might stop completely. It causes the

[2015-02-11 21:00] jfirebaugh commented on #947
This would be upstream in Leaflet, and I see you've submitted the same issue there -- thanks! Closing here.

[2015-02-11 21:00] #947 closed, assigned to nobody

[2015-02-12 19:25] kevinschaul commented on #278
Would be great if this (and any other changes to L.TileLayer) were documented: https://www.mapbox.com/mapbox.js/api/v2.1.5/l-tilelayer/

[2015-02-16 10:41] TimJMartin opened #950 "GeoJSON form geojson.io causes "Error: An API access token is required to use Mapbox.js.""
I am currently testing some of the Turf modules using data created from geojson.io,

Linestrings and Polygons work fine but when I do the following I get the token error.

`var location = {
          "type": "FeatureCollection",
          "features": [
            {
              "type": "Feature",
              "properties": {},
              "geometry": {
                "type": "Point",

[2015-02-16 18:13] jfirebaugh commented on #950
Are you setting `L.mapbox.accessToken = <your access token>`? Can you share a JSFiddle that demonstrates the issue?

[2015-02-17 11:26] lxbarth commented on #929
This is still broken at least in some cases.

Take a look at http://lxbarth.com/map/ - the "improve map" link does not pass on a map id where it should. I'm using the latest mapbox.js (built from mb-pages just now). I could track down the issue to `this._tilejson` empty in `_updateMapFeedbackLink` https://github.com/mapbox/mapbox.js/blob/mb-pages/src/map.js#L173 - not sure why it does not wind up

[2015-02-17 14:28] mderazon opened #951 "React.js support"
Any plan on supporting React.js ?

[2015-02-17 14:30] tmcw commented on #951
You can certainly use Mapbox.js with React, and we do, often. Do you mean something like wrapping mapbox.js in a React component? That could also be neat.

[2015-02-17 14:37] mderazon commented on #951
Yes, meant wrapping it in a component.

I wonder how are you using it with React, any code examples available ?

[2015-02-17 14:41] tmcw commented on #951
Sure, here's [how I used Mapbox.js in coffeeedex](https://github.com/tmcw/coffeedex/blob/gh-pages/index.js#L419-L452): much the same flow as you'd use for integrating d3 or any other dom-manipulating library: prop up in componentDidMount, use a `ref` to find the map element, and update in `componentDidUpdate`.

[2015-02-17 14:51] mderazon commented on #951
cool :+1:

[2015-02-17 18:32] samanpwbb opened #952 "divicon example is confusing"
This is tricky for newbies: https://www.mapbox.com/mapbox.js/example/v1.0.0/divicon/

The math and the for loop get in the way of the basic lesson, which is that you can create HTML icons at specific locations and put them on your map.

[2015-02-17 18:35] lyzidiamond commented on #952
:+1: strongly agree here.

What's the process for updating and adding examples?

[2015-02-17 18:38] jfirebaugh commented on #952
See [DOCUMENTING.md](https://github.com/mapbox/mapbox.js/blob/mb-pages/DOCUMENTING.md) for details -- other than that feel free to dive in and JFDI!

[2015-02-17 18:42] lyzidiamond commented on #952
@samanpwbb you wanna take this? i can do it otherwise

[2015-02-17 18:46] samanpwbb commented on #952
All yours :+1:

[2015-02-17 19:37] jfirebaugh opened #953 ""Improve this Map" link missing mapid when layers are manually added"
Example: http://lxbarth.com/map/#9/40.0000/-74.5000

The map is [initialized without TileJSON](https://github.com/lxbarth/map/blob/96988b935411586c220f1f4a6106796b9793d2ac/index.html#L57) and layers are [manually added](https://github.com/lxbarth/map/blob/96988b935411586c220f1f4a6106796b9793d2ac/index.html#L65), so when Mapbox.js [looks for a mapid](https://github.com/mapbox/mapbox.js/blob/3ebf188

[2015-02-17 19:37] jfirebaugh commented on #929
Opening a clean ticket for this case: #953.

[2015-02-17 19:37] #929 closed, assigned to nobody

[2015-02-17 20:20] jfirebaugh opened #954 "remove infoControl use from examples"
10 examples use `{infoControl: true}` or other features of the infoControl. They need to be ported to attribution control per #948.

[2015-02-18 20:38] pixelwhip opened #955 "Tooltip styling is broken using mapbox.standalone with leaflet"
I'm using Leaflet 0.8-dev and Mapbox 2.1.5

There seems to be conflicting style rules for the .leaflet-popup-tip in leaflet.css and mapbox.standalone.css that cause the tip to break. See the attached screenshot.

![image](https://cloud.githubusercontent.com/assets/967665/6256029/090393e6-b772-11e4-9ce6-56b554783044.png)

[2015-02-19 00:59] #952 closed, assigned to lyzidiamond

[2015-02-19 01:18] jfirebaugh commented on #955
Yeah, it looks like the leaflet.js + leaflet.css + mapbox.standalone.js + mapbox.standalone.css combo will not work. mapbox.standalone.css is the same as mapbox.css, which is expected to be used in place of leaflet.css, not in addition to it.

@tristen - have I got this correct? If so, we should remove mapbox.standalone.css and write clear documentation on how to use mapbox.standalone.

[2015-02-19 15:12] pixelwhip commented on #955
@jfirebaugh Good to know. I did remove leaflet.css and everything seemed to work in our particular case, but wasn't sure what other effects that might have.

[2015-02-19 15:15] tristen commented on #955
@pixelwhip @jfirebaugh that looks to be the issue yep. Removing `mapbox.standalone.css` might be a good plan.

[2015-02-19 17:51] jfirebaugh commented on #955
Removing it is technically a breaking API change (some people are likely using leaflet.js + mapbox.standalone.js + mapbox.standalone.css), so let's wait until 3.0 for that. For now let's add a page to the documentation about using standalone mode.

Points to cover:
- This is for combining mapbox.js with a separate copy of leaflet, for example to use a different version than what's bundled, or a pa

[2015-02-21 23:57] #954 closed, assigned to tristen

[2015-02-23 16:01] aaani opened #957 "Unknown runtime error - Internet Explorer 8"
I am getting this error in mapbox.js v2.1.5 and v1.6.4
![image](https://cloud.githubusercontent.com/assets/3347504/6331034/cddb568c-bb4a-11e4-88c2-30a8011a9a5f.png)

from this line of code in IE 8

<pre>this.options.prefix&&i.push(this.options.prefix),t.length&&i.push(t.join(",")),this._container.innerHTML=i.join(" | ")</pre>

Possible fix: http://stackoverflow.com/questions/7892102/fixing-unknown

[2015-02-23 16:03] tmcw commented on #957
Can you give a live example of this error, in a jsfiddle or standalone html page?

[2015-02-23 16:38] aaani commented on #957
http://jsbin.com/pokeqatuso/1/#/map does this help? This page has a script that loads mapbox.js and initializes the map.

[2015-02-26 17:10] DerekOverlock opened #958 "Attribution Control showing twice."
Hi there,

I am using PhoneGap for my mobile app, and with that, I have to tweak the attribution controls a bit (specifically, I need to change the `target="_blank"` to `target="_system"`). I have this working for one of my maps. For the second, it is showing the attribution twice now, once with `target="_blank"` and another with `target="_system"`. I have ensured that `{attributionControl: false}

[2015-02-26 17:25] jfirebaugh commented on #958
When the attribution control is added to the map it automatically [adds attributions for any existing layers](https://github.com/Leaflet/Leaflet/blob/98bf92530f56c0bee1f0764e0934a25db6a6692d/src/control/Control.Attribution.js#L24-L28).

So you have a couple options:
- Explicitly remove the duplicate attribution after adding the attribution control.
- Don't provide a map ID when creating `L.mapbox.

[2015-02-26 17:39] DerekOverlock commented on #958
Thanks for the options. I will look into them.

I just found out what makes the maps show the attribution correctly, if I do:

[code]

Then the second map will show the correct attribution. It seems that adding `setView` triggers this fix. I looked at the documentation, and saw the `setView` just returns the `Map` object, so I'm not sure why this fixes it. Thoughts?

(Similarly, just removed the `

[2015-03-06 19:51] lbud opened #964 "Link to Mapbox Markers API out of date"
There's a link from here: https://www.mapbox.com/mapbox.js/api/v2.1.5/l-mapbox-marker-style/
to the "Mapbox Markers API" (https://www.mapbox.com/developers/api/#markers) — this isn't right.

[2015-03-07 21:43] pdgoodman opened #965 "example for firebase could use cleanup"
there are a few colorful labels on the firebase example in our docs - @tmcw can you point me to the credentials for ~~location~~ where these are stored w/in firebase so I can clean?

![image](https://cloud.githubusercontent.com/assets/851894/6543434/dffb2232-c4cf-11e4-83b4-613f8532b347.png)

[2015-03-07 22:27] tmcw commented on #965
That's Free Speech in Action © - https://mapboxexample.firebaseio.com/ - the login is in Meldium

[2015-03-09 09:20] hanfeisun opened #966 "Provide an all-in-one but non-minified version of mapbox.js?"
Currently I'm using    `<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>` to import mapbox.js.

While this works well, it is an uglified version, which make it difficult to view the source code sometimes..

Another way seems to download the whole `mapbox.js` github repository, and import them locally, but this is still a bit time-costing.. I was wondering that whethe

[2015-03-09 10:49] hanfeisun opened #967 "Use index as parameter of the callback function of `eachLayer` method?"
My jsfiddle can be viewed at http://jsfiddle.net/svgoz3z1/2/

It is based on the official example: https://www.mapbox.com/mapbox.js/example/v1.0.0/rotating-controlling-marker/

But I add another marker in the map, wrap two markers in a `L.featureGroup`, and then tried to use `eachLayer` method to operate these two markers separately..

However, I found those two marker alway moves to the same dire

[2015-03-09 13:09] tmcw commented on #966
The uncompressed version of Mapbox.js lives at: https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.uncompressed.js

[2015-03-09 13:09] #966 closed, assigned to nobody

[2015-03-09 13:46] tmcw commented on #967
This is incorrect: both layers depend on the `direction` variable: `var direction = 0`. If you want them to be separate, you'll need two directions variables, or to use an array. The `.eachLayer` method is working.

[2015-03-09 18:01] BlakeWilliams opened #968 "Bower needs a version number"
I'm trying to install Mapbox via bower and I get an error about an invalid version.

I assume it's because [bower.json has no version number](https://github.com/mapbox/mapbox.js/blob/mb-pages/bower.json#L8).

[2015-03-09 18:07] BlakeWilliams commented on #968
Turns out I still had http://bower.io/search/?q=mapbox in my bower.json file, which is the first result when searching on bower.

[2015-03-10 01:30] hanfeisun commented on #967
I see~ I forgot the direction is variable outside of that scope, thanks!

[2015-03-10 01:32] hanfeisun commented on #967
@tmcw

By the way,  currently `eachLayer` is used like this:

[code]

Would it be possible to pass in a index for the parameter of the callback, like this?

[code]

This is related to my above case.. Because if I use an array to store directions for each layer, I might need to use the index of eachLayer to find its own `direction` in the array.

[2015-03-10 15:29] tmcw commented on #967
Currently Leaflet doesn't expose that as an option, but it's simple to do otherwise:

[code]

[2015-03-10 15:34] #967 closed, assigned to nobody

[2015-03-13 05:52] hanfeisun opened #973 "The direction API returns {lon},{lat} but L.polyline accepts {lat},{lon}"
I found the direction API (https://www.mapbox.com/developers/api/directions/) returns [[lon,lat]] in its `routes[0].geometry.coordinates`, which means that longitude first and latitude second. However, `L.polyline` needs a [[lat, lon]] as its first parameter, which has a different order from direction API..

Therefore, if I use `L.polyline(directionResult.routes[0].geometry.coordinates).addTo(map)

[2015-03-13 12:54] tmcw commented on #973
You can use `L.mapbox.featureLayer` or `L.geoJson` with the output of the Directions API and it will do what you expect, or you can use the [mapbox-directions](https://github.com/mapbox/mapbox-directions.js) plugin and it will also do what you want.

The Directions API outputs [GeoJSON](http://geojson.org/), which has a lon, lat order, and Leaflet has a `lat, lon` order. It's an unfortunate mismat

[2015-03-16 10:50] hanfeisun commented on #973
I see, thanks!

[2015-03-16 10:50] #973 closed, assigned to nobody

[2015-03-16 21:08] sephcoster opened #974 "Leaflet Circle Draw Issues with Included Version"
When drawing circles with the same radius at the same latitude, the included version of Leaflet within Mapbox.js returns two circles of differing sizes - this occurs at zoom level 10 for the examples, but may occur at other zoom levels where rounding lat/long and projection is a factor.

This appears to be a problem with leaflet rounding and/or calculating incorrect radii based on projections whic

[2015-03-17 23:55] yhahn opened #976 "bower 2.1.6 build broken"
I've been informed that the new v2.1.6 bower build I pushed today is broken because it's missing a trailing semicolon here preventing nice concatenation (https://github.com/mapbox/mapbox.js-bower/blob/master/mapbox.js#L62).

I'll dig into what's up -- perhaps an upstream browserify change?

cc @tmcw

[2015-03-18 04:46] yhahn commented on #976
Looks like the introduction of a sourcemap is what's causing the trailing ; to be removed. If I rollback to the commit prior to https://github.com/mapbox/mapbox.js/commit/b0bc95fbf73b0340e9a72f8d8cbdb59b1929d434 I can see the trailing semicolon return.

@jfirebaugh @tmcw please advise -- you can probably guess which way my moral compass leans on this one : P

[2015-03-18 04:58] tmcw commented on #976
My morale compass broke so long ago. So,
- uglifyjs2, arguably the most-used code compressor, and the core of minifyify, does not append a trailing `;`

do you know what concatenation they're using? just `cat`? something else? basically like whatever they're using sounds like it's the deadly combination of
- minify (again), that will remove the // comment that would avoid this problem
- and then j

[2015-03-18 16:24] yhahn commented on #976
Poked @drewbo and @jflasher about this this morning -- it sounds like this might be more of an issue with the specific grunt concatenator they are using not being able to handle the output of browserify in this case.

@drewbo @jflasher could you reference the project you're using to bundle with here?

[2015-03-18 17:03] jflasher commented on #976
@tmcw We're using https://github.com/yeoman/generator-backbone which is in turn using https://github.com/yeoman/grunt-usemin to handle the concat step.

[2015-03-18 23:41] aaani opened #977 "Tiles caching and compression"
When I audit a mapbox powered map using Google page insights tool (https://developers.google.com/speed/pagespeed/insights) I get multiple issues due to low cache time of tiles:
![image](https://cloud.githubusercontent.com/assets/3347504/6721703/07e38aec-cd9e-11e4-9b01-f9c2da81b68f.png)

and uncompressed tiles:
![image](https://cloud.githubusercontent.com/assets/3347504/6721710/19541efe-cd9e-11e4-8

[2015-03-19 18:02] aaani commented on #957
Any updates about this?

[2015-03-19 18:39] geografa opened #978 "maxNativeZoom ignored if maxzoom set in tileJson"
The `maxNativeZoom` option for overzooming is ignored if a maxzoom is set on a MBtile source. Code below is adapted from the example: https://www.mapbox.com/mapbox.js/example/v1.0.0/overzoom/

[code]

/cc @jfirebaugh

[2015-03-20 00:29] jfirebaugh commented on #957
Hi @aaani. This error occurs in Leaflet when setting the map attribution. I don't see any problem with the code there, and this same code works on IE 8 in other context such as Mapbox map embeds. I think this must be triggered by something specific to your site. Your best bet is to try to reduce your test case to something smaller and more self contained, to narrow down what it is that's causing t

[2015-03-20 00:29] #957 closed, assigned to nobody

[2015-03-31 20:02] regisfoucault commented on #252
@Findyourfriends did you found a fix ?

[2015-04-01 21:11] notpushkin commented on #951
@mderazon I'm writing a more configurable component for one of my current projects. Probably will release it as free/open source soon :)

(A sneak peek: https://gist.github.com/iamale/52b8d378cd4c4a23d765)

[2015-04-01 21:27] iamale commented on #726
:+1: :+1: :+1:

[2015-04-01 22:04] shkfnly opened #979 "Mapbox Directions API"
Hey,

Is there a reason why the mapbox directions API returns the coordinates of the routes in [Longitude, Latitude] rather than [Latitude, Longitude]?

[2015-04-01 22:45] jfirebaugh commented on #979
Yes: it returns GeoJSON objects, which are specified to be [lon, lat].

[2015-04-01 22:45] #979 closed, assigned to nobody

[2015-04-02 10:51] mderazon commented on #951
@iamale that would be awesome. please update us if / when you do

[2015-04-02 11:18] notpushkin commented on #951
@mderazon I've also found this: [react-leaflet](https://www.npmjs.com/package/react-leaflet)

[2015-04-02 17:35] notpushkin commented on #951
@mderazon https://www.npmjs.com/package/react-mapboxmap! :)

[2015-04-02 17:40] duncangraham commented on #979
Hey @shkfnly here's the full spec for more details: http://geojson.org/geojson-spec.html

[2015-04-03 05:43] mderazon commented on #951
Thanks !

[2015-04-07 18:46] sbaggott opened #980 "Path.onRemove throws error in IE when this._container is undefined"
IE (tested on IE11/Win 8.1 and IE9/Win 7) throws a notFoundError when calling Path.onRemove() and this._container is undefined.

STR:
NOTE: this requires an account with Lookout with at least 2 devices on it (can be a free account).
1. Navigate to https://www.lookout.com/d#missingDevice in IE11 or IE9.
2. Select a different device from the dropdown menu (requires more than one device registered wi

[2015-04-09 02:11] rdmurphy commented on #976
I'm also having this issue, but over in gulp. Using [`gulp-concat`](https://github.com/wearefractal/gulp-concat).

I've tried it with both `mapbox.js` and `mapbox.uncompressed.js` from this release and both throw the same error when used pre- and post-uglify (using [`gulp-uglify`](https://github.com/terinjokes/gulp-uglify)). It makes whatever comes after the concat'ed mapbox.js throw a `Cannot fin

[2015-04-09 02:12] tmcw commented on #976
Can you try something like

[code]

as noted in the concat readme?

[2015-04-09 02:15] rdmurphy commented on #976
Doh. I meant to say I did try that – except I just noticed I put the `{newLine: ';'}` in the `.pipe()` call, not the `concat()`.

After correcting that, it worked. :+1: Thanks @tmcw!

[2015-04-09 08:50] urbanhop opened #981 "provide portable build"
Would like to debug mapbox.js.
Looks like to do so, I have to build ot from source.
Fine, but getting any sort of make (tried MinGW, GnuMake32, Cygwin) does not work.

Maybe you can get away from make in favor of a more cross platform tool or explain how one can build a debugable js library on Windows.

[2015-04-09 17:33] jfirebaugh commented on #981
Mapbox.js on the Mapbox CDN (https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.js) is supplied with a source map (https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.js.map). You should be able to debug with the original source files in any modern browser.

[2015-04-09 17:33] #981 closed, assigned to nobody

[2015-04-10 15:27] brian-t-allen opened #983 "TypeError: t.tiles is undefined when using GeoJSON in 2.1.6 or 2.1.7"
I have a simple GeoJSON map that stops working with 2.1.6 or 2.1.7, but works fine with 2.1.4:

[code]

With 2.1.6 or 2.1.7 I get this error and nothing shows up:
TypeError: t.tiles is undefined

Is there some outdated code I need to replace, or is something broken in 2.1.6 and 2.1.7?

Thanks

[2015-04-10 17:30] jfirebaugh commented on #983
The error is caused by this code:

`L.mapbox.map('map', {zoomControl: true})`

The second argument to [`L.mapbox.map`](https://www.mapbox.com/mapbox.js/api/v2.1.7/l-mapbox-map/) must be a map ID, URL, or TileJSON. Options are passed in the third argument, so it will work if you change this to:

`L.mapbox.map('map', null, {zoomControl: true})`

[2015-04-10 17:30] #983 closed, assigned to nobody

[2015-04-12 16:34] tmcw opened #984 "featureLayer + custom points / styles example"
/cc @lyzidiamond @katydecorah

Been seeing an uptick in questions about this, and we don't have an example. Anyone want to build this - L.mapbox.featureLayer + pointToLayer usage?

[2015-04-13 07:45] MichaelMarkieta opened #985 "setZIndex() does not work on L.geoJson layers"
Is there a fix for this?

[2015-04-13 17:42] lyzidiamond commented on #984
We had a few conversations about this last week, particularly related to moving from editor to Mapbox.js. I can hit this example.

[2015-04-13 17:52] jfirebaugh commented on #985
Hi Michael -- can you be more specific? Please see http://www.macwright.org/report-a-bug/.

[2015-04-13 20:33] tmcw opened #986 "replace sanitize-caja with DOMPurify"
https://github.com/cure53/DOMPurify

[2015-04-13 21:37] lyzidiamond commented on #984
Related (note for syntax): #938

[2015-04-13 23:12] geografa commented on #984
@tmcw can I use a map ID for the GeoJSON parameter or does this need an on ready function when using that?

[2015-04-13 23:20] tmcw commented on #984
you can use a map id

Rule of thumb is
- pointToLayer & `on('layeradd'` work "as layers are added", so they are good to use regardless of when the data appears.
- eachLayer works **right now**, so it needs to be run on `ready` if the data is async.

[2015-04-13 23:33] geografa commented on #984
Cool. just realized this doesn't make sense for an editor-made map since there's only title, desc so I'll stick with a inline GeoJSON example.

[2015-04-14 06:37] 1c7 opened #988 "[enhancement] toGeoJSON store style data"
what I am trying to do is embed a Mapbox map on my page.
and any visitor can draw "PolyLine" and put "Marker" on map,
and click "save", save all these information.
even refresh page, these draw still exists on map.

by now, I know how to store GeoJSON into file.
and read them, and display on map.

**But**. GeoJSON didn't store style info,
so when I refresh, **everything become black color**.
and I

[2015-04-14 18:55] jakeorr opened #989 "2.1.8 bower version is requesting mapbox.js.map"
But the file doesn't exist in the bower package.

[2015-04-14 23:20] justinko commented on #989
Yup

[2015-04-15 02:37] MichaelMarkieta commented on #985
Sorry @jfirebaugh -- I understand.

I am wondering if there is fix for manually specifying or programmatically setting z-index of L.geoJson (or L.mapbox.featureLayer with geojson source).

The layers are drawn in the order at which they are added to the map. There are situations where being able to specify the z-index of a layer would be needed (e.g. one layer hides parts of another).

http://bl.o

[2015-04-15 14:55] #968 closed, assigned to nobody

[2015-04-15 16:31] jfirebaugh commented on #985
Ah, I see. `L.LayerGroup` defines `setZIndex` (as a `setZIndex` on each layer in the group that supports it), but the only layer type that does support it is `L.TileLayer`. So no, it isn't possible to reorder GeoJSON layers this way. This would be an upstream issue in Leaflet.

[2015-04-15 16:31] #985 closed, assigned to nobody

[2015-04-17 18:19] #984 closed, assigned to geografa

[2015-04-22 02:08] MichaelMarkieta commented on #985
Thanks @jfirebaugh. Digging through the leaflet source to identify a refactor.

[2015-04-23 20:17] lyzidiamond opened #991 "Problem with L.circleMarker in pointToLayer with L.mapbox.featureLayer"
When using `L.circleMarker` with `pointToLayer` in an `L.mapbox.featureLayer`, styling options defined in `L.circleMarker` are not reflected on the map. This issue persists in `2.1.8`, `2.1.7`, and `2.1.6`.

Code:

[code]

Map output:

![screen shot 2015-04-23 at 1 16 11 pm](https://cloud.githubusercontent.com/assets/2523165/7306553/f926712a-e9ba-11e4-9587-1ad9ff252a08.png)

The two PRs that added

[2015-04-27 14:35] #989 closed, assigned to nobody

[2015-04-27 14:36] tmcw commented on #988
The [GeoJSON](http://geojson.org/) standard does not include any rules for how geometries are styled, so the `toGeoJSON` method can't include anything that would style GeoJSON elsewhere. If you style features with the [simplestyle-spec](https://github.com/mapbox/simplestyle-spec) properties, then the output of toGeoJSON will (automatically & currently) include the necessary properties it needs to

[2015-04-27 14:36] #988 closed, assigned to nobody

[2015-04-27 14:39] tmcw commented on #977
This is outside the scope of Mapbox.js: Mapbox.js is a client to Mapbox.com and has no control over tile caching or compression options. Feel free to contact support@mapbox.com for issues with Mapbox's API service, but since this issue can't be fixed from the Mapbox.js side I'll need to close it because no commit could.

[2015-04-27 14:39] #977 closed, assigned to nobody

[2015-04-27 14:40] tmcw commented on #950
Needs more details.

[2015-04-27 14:40] #950 closed, assigned to nobody

[2015-04-27 15:28] #991 closed, assigned to tmcw

[2015-04-28 04:58] 1c7 commented on #988
Thank you

[2015-04-28 07:00] alrick opened #993 "L.mapbox.map() and MarkerCluster spiderfyOnMaxZoom"
Hi there,

I've found some inconsistency between `L.mapbox.map()` and `L.map()` with MarkerCluster and the option `spiderfyOnMaxZoom` set as false.

Take a look at the two examples below:
- https://jsfiddle.net/alrick/xcz2tuww/ `L.mapbox.map()` (you should enter your privatekey)
- https://jsfiddle.net/alrick/oe03m2tx/ `L.map()`

With `L.mapbox.map()` the cluster is becoming a single marker at max

[2015-05-01 12:12] barneycarroll opened #994 "Canonical method for adding a custom image marker to a map"
Hi guys, I've been crawling back and forth in the documentation but seem to be getting more and more confused.

I have my own set of images to represent various points. I have tried using markers (including icons) and features (code below the post and in [this fiddle](http://jsfiddle.net/barney/n4zjc6hz/)). The problem I have with markers is that they seem to interpret latlng differently; the prob

[2015-05-01 14:16] jfirebaugh commented on #994
Hi @barneycarroll! Coordinate order is a common point of confusion. `L.marker` uses lat, lng order, so you can pass `e.latlng` directly:

[code]

GeoJSON uses lng, lat though. Your code uses the correct coordinate order there. To get custom marker images with a `L.mapbox.featureLayer`, you'll need to hook up a `'layeradd'` event -- see [this example](https://www.mapbox.com/mapbox.js/example/v1.0.0

[2015-05-01 14:16] #994 closed, assigned to nobody

[2015-05-01 15:08] tmcw opened #995 "Fix example creation process"
Right now it sucks to make examples - I attempted to show how easy it was to @amyleew and it isn't.
- We need to [expand the creating examples documentation to actually go through all of the parts required](https://github.com/mapbox/mapbox.js/blob/mb-pages/DOCUMENTING.md#examples)
- Creating an example now requires you to build a dist of mapbox.js [due to this symlink](https://github.com/mapbox/ma

[2015-05-01 15:40] barneycarroll commented on #994
Aha! Thanks @jfirebaugh. So I'm better off using GeoJSON features API and then invoking Leaflet API after initialisation to initialise proper Leaflet classes using a Leaflet API that's dimly aware of the GeoJSON content?

TBH I find that demo incredibly confusing. The reasoning behind invocation of the various API hooks doesn't make much sense to me:
- The layer is added to the map synchronously [

[2015-05-01 15:54] jfirebaugh commented on #994
@barneycarroll Good questions.

The reason why you can't pass the GeoJSON directly to the `L.mapbox.featureLayer` constructor is that the constructor acts synchronously when passed a GeoJSON object literal. It will add the features to the layer immediately, before the `layeradd` event handler is registered, and the event callback will never be called.

In this example, there is in fact no asynchro

[2015-05-01 16:08] barneycarroll commented on #994
Thanks, I'm learning a lot through this :)

I was wondering if the `layeradd` function needed to exist in case some advanced logic in `featureLayer` initialisation might determine that async options were necessary. If there is in fact nothing async going on, I really don't understand why the code is written the way it is. Maybe it's constructed from snippets from a larger application which did hav

[2015-05-01 16:19] jfirebaugh commented on #994
This won't work:

[code]

This is a fluent API, but it doesn't make anything asynchronous; each thing still happens as soon as you call a method. So first `L.mapbox.featureLayer(geoJson)` is called, which does `setGeoJSON` internally, and all the GeoJSON is converted to layers and added. Then `.on('layeradd', ...)` is called, and the event handler is registered. But it never gets called, because t

[2015-05-01 16:24] barneycarroll commented on #994
Why are we using callbacks at all?

[2015-05-01 19:09] tmcw opened #996 "Filtering markerclustergroup"
People want this apparently http://stackoverflow.com/questions/29993368/filtering-mapbox-markcluster

[2015-05-01 20:07] #996 closed, assigned to nobody

[2015-05-02 07:46] barneycarroll commented on #994
I've forked my fiddle to show my attempt at finding a simple way of adding a marker with a custom image using the different APIs. Using Markers directly looks far better to me. AFAICT the only reason the FeatureLayer API uses events is to expose the marker object, which is otherwise private – based on the example, the FeatureLayer API looks horrific. I've worked out the `layeradd` event is just a

[2015-05-04 22:25] mgiraldo commented on #933
does this apply to non-mapbox layers? I'm not getting any tiles even though I specified `detectRetina:false`

[2015-05-04 23:05] mgiraldo commented on #933
had to downgrade to `1.6.4` because `2.1.9` wouldn't let me ignore retina devices, thus showing nothing in [this map](http://mgiraldo.github.io/inspectorviz/)

[2015-05-04 23:18] jfirebaugh commented on #933
@mgiraldo -- If you want to use non-Mapbox tiles and `detectRetina: false`, you can use `L.tileLayer` directly, with any Mapbox.js version. `L.mapbox.tileLayer` assumes the tileset follows the conventions of the Mapbox Tile API, i.e. that `@2x` tiles are always available.

[2015-05-04 23:25] mgiraldo commented on #933
tried that and was not working. will try again tomorrow

[2015-05-05 22:09] lyzidiamond commented on #996
I didn't see this happening, but I so very much appreciate that it exists now.

[2015-05-05 22:14] lyzidiamond commented on #876
Bumping this. Is it worth it? Is there another API we can switch to that does HTTPS? It doesn't look like jsbin does, but maybe there are others?

[2015-05-05 22:17] jfirebaugh commented on #876
It looks like jsfiddle.net might support https now.

[2015-05-08 14:34] hy9be opened #998 "Is it possible to prefetch offscreen map tiles?"
I am trying to use mapbox in the map UI of my hybrid app (with ionic framework). But it looks on touch screen, users tend to pan the map fast and frequently. So the perceived performance would be significantly better, if we could have some prefetched base map tiles as the "buffer area" for the user interactions.

Currently, it is just so easy to see a blank and loading tile.

[2015-05-13 12:05] j16h commented on #951
Working on the map component + markers. It's gonna be ready soon, you gonna find it here https://github.com/julianusti/react-mapbox, just watch it.

[2015-05-14 09:30] notpushkin commented on #951
@julianusti FYI, there is a declarative component called [react-leaflet](https://www.npmjs.com/package/react-leaflet), I've mentioned it above.

[2015-05-14 14:43] tmcw opened #1002 "Support proximity option"
[The geocoding api](https://www.mapbox.com/developers/api/geocoding/#endpoints) now supports a super-cool `proximity` option. We should use this to bias geocoderControl's results to the current mapview.

[2015-05-14 14:48] tmcw commented on #993
Can you confirm that this is actually true in this example? I'm seeing both examples behaving correctly.

[2015-05-14 15:01] tmcw commented on #998
The downside of loading tiles outside of the viewport is that you have a 1/4 chance of the user panning in a certain direction, and the increased number of requests tends to slow down the rest of the page. However, this feature is planned & tracked upstream in Leaflet, so closing this ticket in favor of https://github.com/Leaflet/Leaflet/issues/3087

[2015-05-14 15:01] #998 closed, assigned to nobody

[2015-05-14 15:03] tmcw commented on #976
Closing: this is handled by upstream tools.

[2015-05-14 15:03] #976 closed, assigned to yhahn

[2015-05-14 15:04] tmcw commented on #965
Removed in https://github.com/mapbox/mapbox.js/commit/b99cfdab5b98de51612b406ea8274261e1a74429

[2015-05-14 15:04] #965 closed, assigned to nobody

[2015-05-15 14:44] lostinplace opened #1003 "Support JSPM package loading."
As it stands using JSPM to load mapbox fails badly.  This is unfortunate for me, since I would like to use mapbox instead of vanilla leaflet (which works under JSPM)

I might be able to figure out how to fi this, but if you guys have ideas (or just suggestions to speed me up)  that would be really helpful

-Chris

[2015-05-15 14:50] tmcw commented on #1003
Can you be more specific about what "fails badly" means, exactly, with error messages or results?

JSPM promises

So it's likely that any bug here is on JSPM's side or a usage issue.

[2015-05-15 18:04] drewbo commented on #978
@geografa Possibly related to a similar [leaflet bug](https://github.com/Leaflet/Leaflet/issues/3096) which is fixed in latest master but not `0.7.3`. Could either overwrite the private `_getTileSize` function in [tile_layer.js](https://github.com/mapbox/mapbox.js/blob/mb-pages/src/tile_layer.js) or wait for the next release. Relevant [commit](https://github.com/Leaflet/Leaflet/commit/455fbb087b39

[2015-05-15 19:34] lostinplace commented on #1003
Hey there tmcw

so I've installed mapbox using:

[code]

I have a javascript file that imports it using the following

[code]

this yields the following errors:

[code]

the short version is this:

number 1:  it's looking for package.json.js (which doesn't exist, I can fix this by simply renaming package.json in mapbox to package.json.js), presumably because of a difference in the package manager

[2015-05-15 19:37] tmcw commented on #1003
Can you try installing from npm, like `jspm install npm:mapbox.js`

[2015-05-15 19:42] lostinplace commented on #1003
I had actually started from there, however

[code]

where mapbox.js is npm:mapbox.js  yields an L that is an empty object

[2015-05-15 19:44] lostinplace commented on #1003
It's worth noting that mapbox.js after import does correctly result in the creation of a window.L  with mapbox plugin,  but the export is not Leaflet

[2015-05-15 19:55] lostinplace commented on #1003
It occurs to me now that the simplest way to support this would be to simply add

[code]

in leaflet.js, mapbox.js and index.js of npm:mapbox.js

[2015-05-15 19:59] lostinplace commented on #1003
https://github.com/mapbox/mapbox.js/pull/1004

[2015-05-15 20:02] lostinplace commented on #1003
I suspect it would also be resolved by
https://github.com/mapbox/mapbox.js/pull/725

[2015-05-15 20:16] lostinplace commented on #1003
And now #1004 even passes CI

[2015-05-18 07:24] alrick commented on #993
Hi Tom,

Here is what I get with the two examples with Chrome on Mac OSX :

![mapbox](https://cloud.githubusercontent.com/assets/1086355/7675927/ae65ab0a-fd3e-11e4-936e-d58ecef859de.gif)

![map](https://cloud.githubusercontent.com/assets/1086355/7675991/90072822-fd3f-11e4-9295-2fc98a05e93d.gif)

[2015-05-18 14:55] lostinplace commented on #1003
poke

[2015-05-20 13:39] ccapndave opened #1007 "Mapbox doesn't support ES6 module syntax (or requiring to a variable)"
Since the main file (`index.js`) doesn't expose a module.exports its not possible to use ES6 imports such as:

[code]

or even

[code]

This is a similar issue to #1003 and #725.

[2015-05-20 14:36] j16h commented on #951
@iamale oh, sorry I haven't seen. Is it also works with MapBox? Can I use it and have advantages of MapBox?

[2015-05-20 15:49] j16h opened #1009 "Overlapping markers"
I faced with an issue when I have more than 10 markers that staying at the same position (lat, lng) - they are overlapped. I've googled for solution and found the one -https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet

Would be nice to have it as a part of mapbox api.

Or if there are other solutions how to solve such issue, I would be more than happy to hear.

Thanks

[2015-05-20 15:55] tmcw commented on #1009
Hey Julian,

Sure - you can use the spiderfier plugin or [Leaflet.markercluster](https://github.com/Leaflet/Leaflet.markercluster) with Mapbox.js. We even [provide a CDN so that you can include them without downloading the libraries](https://www.mapbox.com/mapbox.js/plugins/).

Our approach with plugins is the same as Leaflet's: they're great ways that you can extend functionality on a case-by-cas

[2015-05-20 15:55] #1009 closed, assigned to nobody

[2015-05-20 15:57] j16h commented on #1009
Thank you!!!

[2015-05-20 15:58] tmcw commented on #1007
This is a duplicate of #1003

[2015-05-20 16:55] notpushkin commented on #951
@julianusti It does work with Mapbox, although you'll have to specify the tiles URL by hand, like so:

[code]

What could have been done is some kind of abstraction layer, like `MapboxTileLayer` or so.

[2015-05-20 19:23] lostinplace commented on #1003
poke?

[2015-05-20 19:24] tmcw commented on #1003
Hey Chris - sorry, when I get a free moment I'll try this out, but I don't want to merge & publish without confirming that mapbox.js will continue to work standalone, bundled, with browserify, jspm, and with es6 - the potential for regressions is high.

[2015-05-21 18:17] lostinplace commented on #1003
Okie doke, I understand

[2015-05-22 14:50] j16h commented on #951
That looks great, thank you very much @iamale I'm gonna try to use it.

[2015-05-24 02:42] jfirebaugh opened #1010 "bottom gap on left-aligned attribution control"
Code:

[code]

This produces a gap between the attribution and the bottom of the map. It's visible in the [directions example](https://www.mapbox.com/mapbox.js/example/v1.0.0/mapbox-directions-walking/).

The culprit is a 10x10 `<div class="mapbox-logo leaflet-control"/>`.

[2015-05-25 10:31] sethships commented on #488
I am seeing this as well.

Edit: Figured it out. I was using a callback debouncing function to avoid excessive calls. Binding to the normal window.resize callback instead resolved the issue.

[2015-05-26 09:28] arnochauveau opened #1011 "Issue with map panning when opening a custom popup"
I have markers with custom popups bound to them like this:

[code]

however when I open a marker that is close to the border the map pans like this:

![wrong_pan](https://cloud.githubusercontent.com/assets/4454851/7809353/c9507484-0399-11e5-8c8d-17c8480136e1.gif)

and when I click a second time it works as expected:

![rigth_pan](https://cloud.githubusercontent.com/assets/4454851/7809369/decac17a-

[2015-05-26 18:14] jfirebaugh commented on #1011
Yep: include explicit `width=` and `height=` attributes in the `img` tag.

[2015-05-26 18:14] #1011 closed, assigned to nobody

[2015-05-27 07:58] arnochauveau commented on #1011
that seems to work! thank you very much!

[2015-05-27 10:05] lennerd commented on #1003
:+1: would love to see this working.

[2015-05-27 14:08] bmcbride opened #1013 "Leaflet-locatecontrol example missing fontawesome reference"
The [leaflet-locatecontrol example](https://www.mapbox.com/mapbox.js/example/v1.0.0/leaflet-locatecontrol/) is not loading the control icons because it is not loading fontawesome. Including the following fixes the demo:

`<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />`

[2015-05-27 14:46] #1013 closed, assigned to nobody

[2015-05-27 15:29] aaronlidman opened #1014 "Turf examples are broken"
- https://www.mapbox.com/mapbox.js/example/v1.0.0/turf-concave/
- https://www.mapbox.com/mapbox.js/example/v1.0.0/turf/

They reference `https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js`, which doesn't exist... yet. I'll fix this by deploying v2.0.2.

cc @lyzidiamond: https://github.com/mapbox/mapbox.js/commit/3627817d9829424253d4db4651905ac37c641006

[2015-05-27 15:46] lyzidiamond commented on #1014
Oh! Snaps! Sorry about that. Nice catch @aaronlidman.

[2015-05-27 16:07] aaronlidman commented on #1014
Fixed with: https://github.com/mapbox/mapbox.js-plugins/commit/be6dba9392d28eda6585d05d185d88cfea8dc557

[2015-05-27 16:07] #1014 closed, assigned to nobody

[2015-05-28 15:59] j16h opened #1016 "Popups no longer function after filtering markers in mapbox"
I have customized popup, when apply the filter on the markers, the custom popup is no longer exist, instead of custom popup it shows default popup.

[2015-05-28 18:11] lyzidiamond commented on #1016
Hi @julianusti! Are you using `setFilter()` to do the filtering? Can you post your code so I can take a look?

[2015-05-29 09:18] j16h commented on #1016
Hi @lyzidiamond,
Yes, I use `setFilter()` function.

[code]

[2015-05-30 23:38] mttmccb commented on #1003
As would I, I'll try the hack in the short term...

[2015-06-01 08:45] j16h commented on #1016
Hi @lyzidiamond,

Is there are any updates?

Thanks,
Julian

[2015-06-01 14:16] j16h opened #1017 "Zooming in/out the map with lot of markers cause app to memory leak."
Hi guys,

You have to add lot's of markers on the map and continuously zoom in / zoom out the map.
As a result, you gonna see in the Task Manager that the amount of memory continuously increasing.

Here is my experience a [screenshot](https://www.dropbox.com/s/tl4vs19qtqslvt9/Screen%20Shot%202015-06-01%20at%204.07.21%20PM.png?dl=0) with my app + result of Task Manager.

[2015-06-01 18:53] lyzidiamond commented on #1016
When you use `.setFilter()`, your features are being removed and re-added. This means whatever you added to your features before you filtered will be removed when they're readded.

You can get around this by adding popups to your features on layer add:

`map.on('layeradd', function(layer) { ... });`

Hope that helps!

[2015-06-01 21:09] j16h commented on #1016
Hi @lyzidiamond,
Could it be done in a more user-friendly way?

Whenever `.setFilter()` is called, we have to take a look if the marker has a custom popup and persisting this part of information, so it could be added later on when the marker is added back.

[2015-06-02 08:31] j16h opened #1018 "Markercluster zoom in max value"
Hey,

Is it possible to set the max zoom-in value, when the user clicks on the clustered group?

[2015-06-02 08:52] #1018 closed, assigned to nobody

[2015-06-07 15:08] willwhite opened #1019 "Collapse directions examples into one"
Now that we have a build-in profile switcher (thanks @jfirebaugh) we can collapse the directions examples down into one.

https://github.com/mapbox/mapbox-directions.js/commit/d3fb59bfede5f747c34d12917e263d61adc67bdc

![](https://dl.dropboxusercontent.com/s/4q8nhrqddksqq74/2015-06-07%20at%2011.08%20AM.png?dl=0)

[2015-06-08 10:36] wpf500 commented on #1003
I would also love to see this working!

[2015-06-09 01:24] jasonbaik opened #1020 "centering marker plus more?"
I read the docs here: https://www.mapbox.com/mapbox.js/example/v1.0.0/centering-markers/

However, is there a way to position the marker at center-bottom, center-top, center-left, etc of the window after on click?

[2015-06-09 01:36] jasonbaik commented on #1020
I found that I can use map.panTo() then call map.panBy().

If there's any better way to solve this, I'd appreciate it but for now this is what I need. thanks!

[2015-06-09 01:36] #1020 closed, assigned to nobody

[2015-06-14 19:10] sbma44 opened #1021 "expose geocoder autocomplete"
@ingalls can we get autocomplete functionality exposed in mapbox.js? Per @gundersen this is a priority for Monday, if at all possible. From earlier conversations you made this sound pretty straightforward -- lmk if that's not the case & we'll figure something else out.

[2015-06-15 14:27] ingalls commented on #1021
Autocomplete is already supported by mapbox.js. When creating an instance of the geocoder-control one simply sets the autocomplete option to true.

`.addControl(L.mapbox.geocoderControl('mapbox.places', { autocomplete: true }));`

[2015-06-15 14:27] #1021 closed, assigned to nobody

[2015-06-16 21:11] tmcw opened #1026 "Switch to eslint"
The rest of the world has switched from jshint to eslint, and so should we.

[2015-06-16 21:28] #1026 closed, assigned to tmcw

[2015-06-16 21:29] tmcw commented on #1017
@mourner this is likely a Leaflet issue?

[2015-06-16 21:30] tmcw commented on #1002
Implemented in https://github.com/mapbox/mapbox.js/pull/1025

[2015-06-16 21:30] #1002 closed, assigned to nobody

[2015-06-16 21:32] tmcw commented on #1016
@julianusti that would be a very incomplete solution: you can call setFilter multiple times, and it'd be easy to call `setFilter(function() { return false; })` and then `setFilter(function() { return true; })` and blow away all tooltips.

The solution to this is what @lyzidiamond laid out before - popups are best implemented on layeradd rather than with eachLayer - that way they also work properly

[2015-06-16 21:32] #1016 closed, assigned to nobody

[2015-06-16 21:43] #1007 closed, assigned to nobody

[2015-06-16 21:46] tmcw commented on #1003
Fixed in #1008

[2015-06-16 21:46] #1003 closed, assigned to nobody

[2015-06-16 21:47] tmcw commented on #819
Closing - this is not a test environment we should support.

[2015-06-16 21:47] #819 closed, assigned to nobody

[2015-06-16 21:47] tmcw commented on #686
Nope.

[2015-06-16 21:47] #686 closed, assigned to nobody

[2015-06-22 19:53] DerekOverlock opened #1030 "Geocoder control broken with 2.2.0"
I upgraded from Mapbox.js 2.1.2 to 2.2.0 and now the Geocoder control is broken. Looking at the console in Chrome, I see Mapbox sending a request to `http://a.tiles.mapbox.com/v4/geocode/mapbox.places/Austin%2C%20TX.json?proximity=undefined%2Cundefined&access_token={TOKEN}`.

It seems like this new version of Mapbox adds in a `proximity=undefined` query parameter when searching with the geocoder c

[2015-06-22 21:36] 1parkplace opened #1032 "Issue with passing proximity param to geocoder.query"
I updated to 2.2.0 and updated my geocoder query code to:
`mapboxMap.geocoder.query({
                query: $("#searchText").val(),
                proximity: L.latLng($('#' + _clientIDs.hdnCenterLat).val(), $('#' + _clientIDs.hdnCenterLng).val())
        }, mapboxMap.geocodeMap);`
Stepping through, I see the object created and the proximity object with populated Lat, Lng values, but the URL that

[2015-06-23 19:14] ingalls commented on #1032
Hey @1parkplace it sounds like the proximity option isn't being turned on when you create instantiate a Geocoder object. If `proximity` is not set to true it is simply ignored when `query()` is called. See [here](https://github.com/mapbox/mapbox.js/blob/mb-pages/API.md#lmapboxgeocoderidurl-options)

Try:

[code]

A further example can be found [here](https://github.com/mapbox/mapbox.js/blob/f6c3ff

[2015-06-23 19:19] #1030 closed, assigned to nobody

[2015-06-23 20:55] jfirebaugh commented on #1032
I'm going to remove the `proximity` option from the `L.mapbox.geocoder` constructor -- as @1parkplace's trouble shows, it's confusing to have to both construct with `proximity: true` and pass `proximity` later on. Passing it later on should be enough.

[2015-06-23 21:26] #1032 closed, assigned to nobody

[2015-06-23 23:57] tmcw opened #1033 "Truncated geocoder results should be available as title= attributes"
![Uploading 2015-06-23 at 7.56 PM.png…]()

Hovering here should give you the full value

[2015-07-10 06:55] jasonbaik opened #1034 "custom events for cluster "onclicks""
Hi,

On a cluster, how do you apply a custom event to the "onclick" event? Example:

When a user clicks on a cluster with a count of "3" on it, instead of zooming in, how do you apply a custom event to show a custom popup instead?

[2015-07-10 20:57] lxbarth commented on #911
I confirm this bug on Mac OSX, Chrome version 43.0.2357.124 (64-bit)

[2015-07-10 20:58] lxbarth commented on #911
@peterqliu - would love to see this happen. Here's an animated gif from my 43.0.2357.124

![swipe](https://cloud.githubusercontent.com/assets/98233/8628921/a36d1174-270b-11e5-85be-041dc8976c0e.gif)

[2015-07-10 23:32] lxbarth commented on #911
I filed a bug w/ the Chrome project: https://code.google.com/p/chromium/issues/detail?id=509126&thanks=509126&ts=1436570972

The issue is that setting the clip style attribute does not force a repaint. Not sure why this only occurs after zooming once.

And here is a workaround that fixes the issue for me on Chrome 43.0.2357.132 (64-bit) (from [stackoverflow #3485365](http://stackoverflow.com/quest

[2015-07-13 16:39] fullofcaffeine opened #1036 "Does Mapbox.js support IDW heatmaps?"
Hi!

Apologies if this is not the right place for this question, so feel free to moderate if needed.

I need to create a vizualization that looks like this one:

https://www.walkscore.com/choice/restaurants/NY/New_York

I've tried using Leaftlet.heat directly, but it doesn't natively support this kind of viz. **More about it here**: Leaflet/Leaflet.heat#30.

I'm wondering - since Mapbox.js builds

[2015-07-14 19:47] tmcw opened #1037 "retire old documentation"
https://www.mapbox.com/mapbox.js/api/v1.3.1/ ranks really highly in searches. it is also very very old.

[2015-07-14 20:55] jasonbaik commented on #1034
markers.on('clusterclick', function(e) {})

[2015-07-14 20:55] #1034 closed, assigned to nobody

[2015-07-15 11:05] mourner opened #1038 "Bring it up to date with Leaflet 1.0"
There's a `leaflet-0.8` branch. Time to bring it up to date with Leaflet 1.0 beta 1 which was just released: http://leafletjs.com/2015/07/15/leaflet-1.0-beta1-released.html

[2015-07-16 15:42] nakhbari commented on #1038
+1

[2015-07-16 19:20] lyzidiamond commented on #1037
@tmcw So are you thinking anything < 2.0.0?

[2015-07-20 13:20] vikeri opened #1041 "Inactivate country abbreviations"
On some zoom levels countries are abbreviated eg. **Sweden** becomes **SE**. Is there any way of disabling this?

[2015-07-20 23:00] lyzidiamond commented on #1041
Hi @vikeri! This is a question related to Mapbox default styles, not Mapbox.js. I'd suggest emailing help@mapbox.com with your question if you'd like to get some help with adjusting styles!

[2015-07-20 23:00] #1041 closed, assigned to nobody

[2015-07-21 08:44] pablocaselas commented on #1036
+1

[2015-07-21 18:32] fullofcaffeine commented on #1036
@pablocaselas It looks like no javascript heatmap lib supports IDW as of now and most of them just assume density of points instead of their values. I've tried modifying heatmap.js with limited success, but I figured out that I could just use a map server and render the heatmap server side, so that the whole zooming and navigation aspect would come for free (by serving the tiles). I'm currently ex

[2015-07-22 02:00] ntilwalli opened #1042 "Using mapbox.js with JSPM not working"
I'm trying to set up a simple test of mapbox.js/jspm/systemjs functionality (taking advantage of the fix in #1008) and I'm consistently running into the error: `Uncaught (in promise) Error: Cannot read property 'baseVal' of undefined`.  My HTML file is very basic:

[code]

And my `main.js` is also very basic:

[code]

The full stack trace from Chrome is:

[code]

I installed mapbox.js using the co

[2015-07-22 02:04] tmcw commented on #1042
See previous issue https://github.com/mapbox/mapbox.js/pull/1008 and try using the master branch for now?

[2015-07-22 02:10] ntilwalli commented on #1042
Ah. I mistakenly assumed that #1008 had been merged into what's distributed on npm.  I'll try that.  Thanks.

[2015-07-22 02:49] ntilwalli commented on #1042
@tmcw That did not solve the issue.  I installed a custom configuration of the package using specifically the `mb-pages` branch and a jspm install override:

[code]

The only change from above is the line `import L from 'mapbox.js'` was changed to `import L from 'mapbox/mapbox.js'`  I'm getting the same stack trace as above.

[2015-07-22 13:34] ntilwalli commented on #1042
@tmcw This problem goes away when I create the map using the element id instead of the element reference directly.

Works:

[code]

Does not work:

[code]

[2015-07-22 13:36] tmcw commented on #1042
`let mapHost = document.querySelectorAll("#main")`

querySelectorAll selects a list of nodes, rather than a single node (as implied by the 'all'). If you want the first node with id `#main`, you would

[code]

Or use querySelector.

[2015-07-22 13:39] ntilwalli commented on #1042
Wow.  Totally missed that.  Fixed it.  Thanks so much.

[2015-07-22 13:39] tmcw commented on #1042
Cool, closing: jspm support will land in the next tag.

[2015-07-22 13:39] #1042 closed, assigned to nobody

[2015-07-22 13:41] ntilwalli commented on #1042
Looking forward to it.  Thanks again.

[2015-07-22 18:02] lyzidiamond commented on #1037
For the record, I am very :+1: on this, just want to know the scope so we can set next actions and get it done.

[2015-07-22 21:26] csuwildcat opened #1043 "Microsoft Edge compat"
Hey there Mapboxers,

I am working on assessing, cataloging, and triaging library compat with Microsoft Edge. Do you know the version compat range for Mapbox in Edge? Are all versions fully operable in Edge? Also, do you have any bugs that block features or compat I can help with or escalate?

[2015-07-22 22:00] lyzidiamond opened #1044 "Fixing geocoder control keepOpen behavior"
When adding a `L.mapbox.geocoder` control and setting `keepOpen: true`, the results list stays open even after a location is selected. The behavior of `keepOpen` should be to keep the search bar open, but to hide the results when the user clicks on the map.

[2015-07-24 00:04] lucaswoj commented on #1043
Thanks for getting in touch with us @csuwildcat! We would love to test [Mapbox GL JS](https://github.com/mapbox/mapbox-gl-js) and Mapbox.js in Edge but there doesn't seem to be a way to get Edge running on our end.

Is there any way you can help us out?

[2015-07-24 00:07] lucaswoj commented on #1043
We have been working on some IE11 WebGL-related performance problems recently (https://github.com/mapbox/mapbox-gl-js/issues/1336). Do you think that this will affect Edge too? Can you provide us any assistance on this?

[2015-07-24 00:44] csuwildcat commented on #1043
Yes, I'll send a more detailed reply this evening (out of office for the
next few hours).
- Daniel
  On Jul 23, 2015 5:07 PM, "Lucas Wojciechowski" notifications@github.com
  wrote:

[2015-07-24 06:05] csuwildcat commented on #1043
If you just signed up for the Insiders program, you won't have access to the RTM as of last Friday - it was frozen in prep for final release. We're going to have a hard time getting you access to the RTM until Wednesday's release. If Mapbox works reasonably well in IE11, it should be just fine in Edge, as Edge is a 100% standards compliant browser that has robust support for WebGL. If you don't ha

[2015-07-24 18:05] lucaswoj commented on #1043
Thanks @csuwildcat!

Mapbox.js, works fine in IE11 and we will let you know if we find any issues when Edge is released.

This project's successor, [Mapbox GL JS](https://github.com/mapbox/mapbox-gl-js), has [recently begun having bad rendering performance](https://github.com/mapbox/mapbox-gl-js/issues/1336) (seemingly related to `gl.disableVertexAttribArray`). Based on what you have said, I do no

[2015-07-25 17:42] che-wf opened #1045 "400 Error for Aerialway and Dentist Icons"
I'm currently trying to pull the dentist and aerialway icons. I've used Maki to display all of the icons, however, I'm getting a `400 (Bad Request)` error whenever I try to use the icons on a marker although the rest of my icons are all pulling correctly.

My requests are `http://a.tiles.mapbox.com/v4/marker/pin-m-dentist+739.png?access_token=[my token]` and `http://a.tiles.mapbox.com/v4/marker/pi

[2015-07-30 18:51] lyzidiamond commented on #1037
Closed via https://github.com/mapbox/www.mapbox.com/pull/5939.

[2015-07-30 18:51] #1037 closed, assigned to nobody

[2015-08-03 05:55] planemad opened #1047 "Map users want a scale on the map"
This has been a recurring help issue on Mapbox maps from the start:

There is enough points of feedback to seriously consider add the [scale control](https://www.mapbox.com/mapbox.js/example/v1.0.0/scale-control/) to the map by default instead of leaving it upto the developer to enable.

Measuring distances on a map is a basic user need and without a scale or a directions widget there is no way fo

[2015-08-03 11:56] tmcw commented on #1047
I strongly disagree:
- All of these seem to be from third-party sites
- Turning a UI control on would require a major version bump and would lead to lots of people asking "how do I turn the scale off"
- Scales are the wrong way to tell the distance between locations: use directions
- Scales are the wrong way to tell how big countries are: use wikipedia
- The lack of a scale does not make a map a p

[2015-08-03 12:50] planemad commented on #1047
@tmcw this is the first map UX related issue that has seen significant volume in our feedback system. Its a good test case to figure out how to handle such types of feedbacks in a consistent way.

Going by the past trend there will continue to be requests for a distance/scale tool. Till what point will we consider such a user need as unnecessary?

[2015-08-03 13:48] tmcw commented on #1047
This is not the right way to look at it:

First off, I don't see any usecases as unnecessary. The decision for whether something is included in core and/or enabled by default is based on _universality_: do 99% of our maps need this?
- Map: yes, we need this
- Attribution: legally, we need this
- Map Controls: yes, because not all users have/use scrollwheels

As far as a legend: should maps on Pint

[2015-08-04 00:55] lyzidiamond commented on #1047
@planemad thanks for bringing this up! It's always good to be thinking about our users and what they want to see.

In the case of the scalebar, I agree with @tmcw that it's not something that should appear on our maps by default, for a couple reasons:
- putting real-world scale on a web mercator map is confusing and generally a bad idea. Literally every time you pan the map, even a little bit, the

[2015-08-04 13:16] planemad commented on #1047
Thanks @tmcw and @lyzidiamond for your views. If the consensus is that a distance measuring tool is not a universal map requirement, lets close this for now.

@lyzidiamond  let continue this on map-feedback.

[2015-08-04 13:16] #1047 closed, assigned to nobody

[2015-08-04 22:53] jfirebaugh commented on #1036
Nope -- this would be out of scope for Mapbox.js, which only provides core map functionality. It would be in scope for a third-party Leaflet plugin.

[2015-08-04 22:53] #1036 closed, assigned to nobody

[2015-08-05 15:30] jfirebaugh commented on #1045
Hi @jbcoder, sorry about the confusion here. The dentist and aerialway icons are the two icons that were most recently added to maki, so likely the issue is that our markers API hasn't been updated to the latest maki version.

@lyzidiamond is this something you could look into?

[2015-08-05 17:21] lyzidiamond commented on #1045
@jfirebaugh sure! @jbcoder I will take a look and get back to you.

[2015-08-06 01:18] che-wf commented on #1045
You guys are awesome!

[2015-08-06 23:07] lyzidiamond commented on #1045
Hey @jbcoder, fixing this is going to take a little while -- what started as a simple inquiry is going to require a somewhat-involved process! I'll update here when the issue is resolved. In the meantime, thanks for your patience!

[2015-08-07 19:08] GNURub opened #1048 "Problem with setView on Chrome"
when i put the center option or i do setView ex:

[code]

The view dont load, but if i I open a devtool window for example it works, is like it refresh the view![seleccion_385](https://cloud.githubusercontent.com/assets/1318648/9143642/d3cc99b4-3d47-11e5-81b3-7e283a09e8db.png)
![seleccion_386](https://cloud.githubusercontent.com/assets/1318648/9143760/7d644db4-3d48-11e5-89e2-e236f7b05c5d.png)

[2015-08-07 20:14] jfirebaugh commented on #1048
Can you create a JSFiddle that demonstrates the issue?

[2015-08-07 22:57] #1048 closed, assigned to nobody

[2015-08-13 12:12] jometho opened #1051 "mapbox access token failed net::ERR_EMPTY_RESPONSE"
Hello, I am having a problem setting my access token in my application I keep getting this error when I check from the console "Fialed to load resource : net::ERR_EMPTY_RESPONSE" and could not load tile JSON. How should I solve this problem, I couldn't find any solution online

[2015-08-13 14:31] jfirebaugh commented on #1051
Can you link to your code or make a JSFiddle that demonstrates the issue? Thank you!

[2015-08-17 16:59] lucaswoj commented on #1043
@csuwildcat We're starting to get some bug reports related to Microsoft Edge for GL JS. It looks like there are some serious rendering issues. https://github.com/mapbox/mapbox-gl-js/issues/1437

[2015-08-20 22:26] TheSisb commented on #1038
+1

[2015-08-25 22:04] lxbarth opened #1052 "Roll new release with drag fix"
This PR fixes a very annoying issue on Chrome where slow loading tiles stop any zoom/pan interaction on the map: https://github.com/Leaflet/Leaflet/pull/3692

@tmcw @mourner - what is your plan / timing to roll a mapbox.js update including https://github.com/Leaflet/Leaflet/pull/3692 ?

[2015-08-25 22:05] tmcw commented on #1052
The steps need to be (1) Leaflet release (2) Mapbox.js release. Mapbox.js uses tags of Leaflet, only.

[2015-08-26 15:45] mourner commented on #1052
Blocked by this issue: https://github.com/Leaflet/Leaflet/issues/3689

[2015-08-27 20:03] merongivian opened #1053 "Adding custom markers is not working"
I got this error when adding an image url for my custom marker:  `Error: iconUrl not set in Icon options (see the docs).`. Not 100% sure but it seems that the way the leaflet charges images has changed

[2015-08-27 20:06] tmcw commented on #1053
Can you give an example of the code that you're using with your markers?

[2015-08-27 20:21] merongivian commented on #1053
@tmcw sure so im defining the geojson variable like this:

[code]

 and then i add the layer event

[code]

[2015-08-27 20:29] merongivian commented on #1053
@tmcw nevermind , i had more points that i didn't add an icon url's, my bad, closing

[2015-08-27 20:29] #1053 closed, assigned to nobody

[2015-08-28 18:44] lyzidiamond opened #1054 "Example for directions + geocoding"
@danswick is going to tackle this example next week. Steps:
- [ ] Write the example
- [ ] Check that it runs locally
- [ ] Make a PR, tag @lyzidiamond and @tmcw
- [ ] After :+1:, merge PR!

Let me know if you have any questions along the way!

[2015-09-01 10:53] mourner commented on #1052
Leaflet 0.7.4 is live. @lxbarth can you please make sure it's working as expected on http://leafletjs.com?

[2015-09-01 18:56] mourner commented on #1052
Found a regression in 0.7.4 so hold on for now :( https://github.com/Leaflet/Leaflet/issues/3796

[2015-09-02 09:46] mourner commented on #1052
Released 0.7.5 today, that one should be good to go.

[2015-09-02 16:18] tmcw commented on #1052
Rolling an update with 0.7.5.

[2015-09-02 17:02] tmcw commented on #1052
Implemented & deployed with #1055

[2015-09-02 17:02] #1052 closed, assigned to nobody

[2015-09-03 17:50] pavelivanov opened #1056 "No semicolon at end of file"
Plz add ; at the end of mapbox.js

[2015-09-03 17:56] tmcw commented on #1056
See https://github.com/mapbox/mapbox.js/issues/976

Use better build tools.

[2015-09-03 17:56] #1056 closed, assigned to nobody

[2015-09-04 18:46] gotjoshua commented on #1038
+1

[2015-09-04 18:47] tmcw commented on #1038
Do not +1 this issue. Mapbox.js tracks _released versions of Leaflet, only_. That does not include beta, rc, -dev, or anything else. When there's a Leaflet 1.0, then we'll update. Until then, we will not.

[2015-09-09 11:48] lxbarth commented on #953
Can we prioritize fixing this? @jfirebaugh @mourner @tmcw @tristen - who can take this on?

[2015-09-10 18:21] geobrando opened #1058 "Arrow down to autocomplete results in geocoding box"
Any reason why this hasn't been implemented?

[2015-09-10 18:40] geobrando commented on #1058
Changing my question as it seems to work [here](https://www.mapbox.com/blog/geocoding-type-ahead/) but not [here](http://openaddresses.io/). Was this added in 2.1.7?

[2015-09-15 22:29] JamesSCV commented on #876
Looks like something broke, yet again. jsfiddle.net is being served over https. but when I add jquery ui as a framework extension i get the mixed content warning and it blocks jquery ui. I think the issue is in chrome.

[2015-09-15 22:31] tmcw commented on #876
Are you adding jquery ui with an https url?

[2015-09-15 23:57] JamesSCV commented on #876
I'm using jsfiddle's built in jquery ui. For example, I create a new jsfiddle, select 'jQuery 1.7.2' from the dropdown on the left, then check 'jQuery UI 1.8.18'. When I click run, chrome throws the following error in console. "Mixed Content: The page at 'https://fiddle.jshell.net/_display/' was loaded over HTTPS, but requested an insecure script 'http://code.jquery.com/ui/1.8.18/jquery-ui.min.js'

[2015-09-17 02:40] danswick commented on #1054
Rough draft is up and running here - http://codepen.io/danswick/pen/qOZbXG?editors=101

[2015-09-17 03:17] lyzidiamond commented on #1054
@danswick sweet! I will check this out tomorrow.

[2015-09-17 17:47] jfirebaugh commented on #1054
@danswick Can you put that in a PR for review?

[2015-09-17 19:42] peterqliu commented on #1054
@danswick I made something similar at https://www.mapbox.com/bites/00174/ -- feel free to appropriate bits and pieces as needed.

is there some way to incorporate the [default geocoder](https://www.mapbox.com/mapbox.js/example/v1.0.0/geocoding-auto/) to get some typeahead action?

[2015-09-17 19:54] lyzidiamond commented on #1054
@danswick and I are going to get together this afternoon and turn this into a PR.

[2015-09-18 14:08] antpaw opened #1060 "Don't autoattach window.L on require()"
The entire point of using require and browserify is to get rid of global variables.

[code]

this is how to design should look like.

[2015-09-18 14:11] tmcw commented on #1060
Yep, we get browserify. To avoid the global export, [Leaflet would have to change](https://github.com/Leaflet/Leaflet/blob/master/src/Leaflet.js): this is upstream in that codebase.

[2015-09-18 17:34] danswick commented on #1054
Love that demo, @peterqliu! Yeah, would definitely like to incorporate typehead. Good call.

[2015-09-22 18:06] JeongJun-Lee opened #1061 "Only one of two features in the GeoJSON file was displayed"
When I try to display a GeoJSON layer by my file in the same domain as the example of https://www.mapbox.com/mapbox.js/example/v1.0.0/geojson-marker-from-url/, only one of two features in the GeoJSON file was displayed.
But, when I import the file at http://geojson.io, both were displayed normally.

You can see the GeoJSON file which I tested at http://download.samarkandtour.org/uz_foodndrink_2015

[2015-09-23 20:56] tmcw commented on #1061
This displays correctly in a local testing file:

<img width="459" alt="2015-09-23 at 4 55 pm" src="https://cloud.githubusercontent.com/assets/32314/10058535/e9d8ec94-6213-11e5-8ce3-d61786f8cc8f.png">

The markers are close together: are you sure you're zoomed in far enough?

Could you rephrase that to be more clear?

[2015-09-24 04:14] JeongJun-Lee commented on #1061
Very sorry, It was my mistake. I was confused the order of longitude and latitude. I found that it was opposite between the order of at http://geojson.io and Mapbox.js.

By the way, the additional question is that I am not sure if there is a parser of a geojson file in mapbox.js. I wanted to display each value of properties of a feature in the file after parsing a geojson file. When I searched the

[2015-09-28 15:13] mlake opened #1062 "Slow loading tiles, javascript lockup when zooming in Chrome"
Firefox and Safari work fine.

My Chrome version: 45.0.2454.101 (64-bit)

Here's the live example: http://techtour.cvilleinnovation.org/
Try clicking around on the 'business' entries and compare to firefox.

Using 0.7.5 leaflet with mapbox 2.2.2

[2015-09-28 17:57] jfirebaugh commented on #1062
I'm not sure I see any noticeable difference between Chrome and Firefox. Can you post numbers from the developer tools, or a screen capture of what you're referring to?

[2015-10-07 01:47] mannylopez opened #1064 "Update Displaying WMS Layers example"
[NowCoast](http://nowcoast.noaa.gov/help/#!section=transitioning), NOAA's web mapping portal has updated their WMS endpoints, breaking the precipitation example on [Displaying WMS layers](https://www.mapbox.com/mapbox.js/example/v1.0.0/wms/).

To Do
- [x] Find new NOAA endpoint
- [x] Update example
- [x] Test locally
- [x] Push PR/Merge

Old endpoint: http://nowcoast.noaa.gov/wms/com.esri.wms.Esri

[2015-10-07 18:59] lyzidiamond commented on #1045
@jbcoder this should be fixed now with a new release of Maki! Let us know if you're having any other issues.

[2015-10-07 18:59] #1045 closed, assigned to nobody

[2015-10-07 21:37] mannylopez commented on #1064
Fixed in #1065

[2015-10-07 21:37] #1064 closed, assigned to nobody

[2015-10-08 08:21] bdon commented on #1044
+1, perhaps clicking the magnifying glass icon should dismiss the dropdown as well

[2015-10-08 19:56] clayne11 commented on #1062
I'm seeing HUGE issues in Chrome as well. Zooming can lock up the map for up to 10-15 seconds. No problems at all on Firefox or Safari.

[2015-10-08 20:05] jfirebaugh commented on #1062
@clayne11 What Mapbox.js version? There was an issue caused by a Chrome regression that fits your description which was resolved in 2.2.2.

[2015-10-08 20:36] clayne11 commented on #1062
Looks like I was using 2.1.5. Upgrade to 2.2.2 and that issue is gone.

[2015-10-14 21:33] mnquintana commented on #483
@tmcw Is this still the case now? Just wanted to check. :smile: (To clarify, I'd like to bust the cache on end users' browsers.)

[2015-10-15 14:57] jwass opened #1067 "Improve This Map link does not obtain map viewport when initially expanded"
The Improve This Map link includes the current map bounds/zoom only if the info control was expanded when the map view was last changed.

To reproduce (on geojson.io):
1) zoom/pan the map
2) expand the info control
3) click Improve This Map - it won't carry the bounds/zoom through in the link.

You have to pan or zoom between steps 2) and 3) above to be able to click through to edit. Not a huge de

[2015-10-15 15:56] rbonillajr opened #1068 "Toggling baselayers"
https://www.mapbox.com/mapbox.js/example/v1.0.0/toggle-baselayers/

In my test using tooltips config into TileMill and if you using this examples don't show tooltips

[code]

if using this example show tooltips and not using Toggling Baselayers

[code]

[2015-10-15 17:27] jfirebaugh commented on #1067
Thanks for the report. The info control is [deprecated](https://github.com/mapbox/mapbox.js/issues/941) and will not be receiving any further bugfixes. I've opened [an issue on geojson.io](https://github.com/mapbox/geojson.io/issues/482) to replace it with the default attribution control.

[2015-10-15 17:27] #1067 closed, assigned to nobody

[2015-10-20 17:43] smol-honk opened #1069 "Cannot figure out how to setFilter and keep listings associated with their markers."
I have mapbox generating markers from a json file created from the database. The issue is that, there is a sidebar that is connected to the markers originally, but once we set the filter, it removes that link(no longer highlights or changes the active listing in the sidebar). I have an example live here: http://researchmapproject.herokuapp.com/

I want to figure out a way to set a filter but still

[2015-10-21 21:17] tmcw commented on #1068
`L.mapbox.map('map', 'rbonillajr.ni98o7h3,rbonillajr.Provincias')` is a shortcut that adds a tileLayer, as well as a gridLayer and gridControl. If you don't use this shortcut and instead add the provinces layer in a layer selector, you'll need to add the gridLayer and gridcontrol yourself. See for an example, this example: https://www.mapbox.com/mapbox.js/example/v1.0.0/gridlayer-gridcontrol/

[2015-10-21 21:17] tmcw commented on #1062
Fixed in 2.2.2

[2015-10-21 21:17] #1062 closed, assigned to nobody

[2015-10-21 21:19] tmcw commented on #1060
Upstream: https://github.com/Leaflet/Leaflet/issues/3958

[2015-10-21 21:20] tmcw commented on #1051
Closing; more information would be needed to debug this issue.

[2015-10-21 21:20] #1051 closed, assigned to nobody

[2015-10-21 21:20] tmcw commented on #1043
:+1: let's focus efforts on Mapbox GL JS.

[2015-10-21 21:20] #1043 closed, assigned to nobody

[2015-10-21 21:28] tmcw commented on #1017
Closing: this would require more information to debug, and is very likely a Leaflet issue.

[2015-10-21 21:28] #1017 closed, assigned to nobody

[2015-10-21 21:28] tmcw commented on #943
Closing: use setMaxBounds to restrict panning.

[2015-10-21 21:28] #943 closed, assigned to nobody

[2015-10-21 21:29] #730 closed, assigned to nobody

[2015-10-21 21:32] tmcw commented on #796
@nvkelso any plans on exposing GeoJSON more prominently on NaturalEarthData.com?

[2015-10-21 21:34] tmcw commented on #920
Closing, upstream.

[2015-10-21 21:34] #920 closed, assigned to nobody

[2015-10-21 21:35] #707 closed, assigned to nobody

[2015-10-21 21:36] tmcw commented on #480
Closing; legacy.

[2015-10-21 21:36] #480 closed, assigned to nobody

[2015-10-21 21:36] #593 closed, assigned to nobody

[2015-10-21 21:54] #1033 closed, assigned to nobody

[2015-10-21 23:38] lyzidiamond commented on #1069
I responded to your inquiry via Mapbox Support, but just to reiterate here:

`setFilter()` works by removing the layer from the map completely and then adding back the features that meet the filter condition. If you add anything to those features beforehand (like tooltips, for example) all of it is gone when `setFilter()` removes and re-adds the features. The solution is to wrap any functionality

[2015-10-21 23:53] lyzidiamond commented on #1069
^ What I wrote here is true, but it's not the problem you're facing here. Sorry about that.

The code to update the nav bar is only running once, and you need it to run after every time `setFilter()` is called. You also need to make sure to clear the nav bar before each time you run `setFilter()`. For example:

[code]

[2015-10-22 01:38] rbonillajr commented on #1068
Hi i need use  L.control.layers(layers, overlays).addTo(map); because my app have plugin for change basemap.

 L.control.layers run good but don't show tooltips

mi code is first example.
second example is for demo of i need with using first example.

thanks

[2015-10-22 02:56] wboykinm commented on #796
O_o https://github.com/tmcw/geojson-xyz

[2015-10-22 15:46] smol-honk commented on #1069
Hi Lyzi! Thank you so much for you help! It works awesome!

[2015-10-22 15:47] #1069 closed, assigned to nobody

[2015-10-22 23:26] scothis opened #1071 "Add a friendly error for user to try to use a GL style id"
Mapbox GL Style IDs take the form `mapbox://styles/[user]/[id]`. Since they can only be used within mapbox-gl-js and not within mapbox.js, let's display a friendly error message if a user tries to use one.

[2015-10-23 00:24] geografa opened #1072 "Example pages not loading in MSIE 9"
Mapbox.js examples page will not load in MSIE 9. Could this have broke when last version was updated to 2.2.2? The pages will load from older 2.2.1 page: https://www.mapbox.com/mapbox.js/api/v2.2.1/

[2015-10-26 13:10] mourner opened #1073 "Release with Leaflet 0.7.7"
https://github.com/Leaflet/Leaflet/releases/tag/v0.7.7

[2015-10-26 18:22] Samrudhi commented on #1062
Hi,
I am using mapbox version 2.2.2 and my Chrome version: 45.0.2454.101 (64-bit). I still see the issue of mapbox tiles loading significantly slower than in Safari. Can this be optimized more for chrome?

Thanks!

[2015-10-31 21:53] karenzshea opened #1074 "v2.2.3 would introduce breaking change"
Changes from https://github.com/mapbox/mapbox.js/pull/1063 will break uses of [mapbox.config.HTTP_URL](https://www.mapbox.com/mapbox.js/api/v2.2.2/l-mapbox-config-http_url/) and HTTPS_URL where a version number is set in the path. Most commonly seen in cahoots with api-maps-staging like in mapbox.js examples https://github.com/mapbox/mapbox.js/blob/1c6c03d5b5362b42a547d97a14417475f894b70c/docs/_la

[2015-11-02 17:18] Thource opened #1075 "Circles get bigger the further north/south they are"
Running the following code will result in something similar to the image attached.

[code]

They should all be the same size.
Is this a bug or is there a reason behind this?

![image](https://cloud.githubusercontent.com/assets/4104309/10888714/b6e0bb0a-8185-11e5-9e0d-528aa310a6b3.png)

[2015-11-02 17:19] tmcw commented on #1075
Yes, the map is in [web mercator](https://en.wikipedia.org/wiki/Web_Mercator), which is not an equal-area projection. So, meters are bigger at the top. Projections are compromises, equal area is what mercator compromises on.

Closing: use L.circleMarker if you want circles drawn by pixel size.

[2015-11-02 17:19] #1075 closed, assigned to nobody

[2015-11-02 17:55] jfirebaugh commented on #1074
Great catch @karenzshea! I like your approach to fixing this in #1076.

[2015-11-04 18:48] danswick opened #1077 "Switch arrays of GeoJSON features to FeatureCollection in examples"
Per discussion with @lyzidiamond and @tmcw, despite the fact that Leaflet can handle arrays of features (as opposed to `FeatureCollection`), this is [bad practice](http://geojson.org/geojson-spec.html#feature-collection-objects) and should be changed to `FeatureCollection` in public examples. Examples that include arrays of features:
- [ ] Distance between two markers: https://www.mapbox.com/mapbo

[2015-11-04 19:10] jfirebaugh commented on #1077
:+1:

[2015-11-04 19:43] lyzidiamond commented on #1077
BAM @danswick thanks for opening this! Let's try to knock these out this week.

[2015-11-05 04:15] MrBlenny opened #1078 "maxBoundsViscosity not working"
As far as I can tell, maxBoundsViscosity is not working in 2.2.3.
http://mourner.github.io/Leaflet/reference.html#map-maxboundsviscosity

I'm not sure if this a problem with mapbox.js or leaflet. Please advise.

[code]

[2015-11-05 14:20] tmcw commented on #1078
That is pre-release documentation for the unreleased leaflet 1.0- please use the official released docs.

[2015-11-05 14:20] #1078 closed, assigned to nobody

[2015-11-07 22:36] tmcw opened #1079 "use geojson.xyz"
We should use geojson.xyz for url loading examples

https://github.com/mapbox/mapbox.js/blob/mb-pages/docs/_posts/examples/v1.0.0/0100-01-01-geojson-marker-from-remote-url.html

[2015-11-09 12:16] mourner commented on #1073
Done in 2.2.3

[2015-11-09 12:16] #1073 closed, assigned to nobody

[2015-11-14 23:15] bcherny opened #1082 "async script load?"
otherwise mapbox becomes a bottleneck :(

eg. google maps supports JSONP-style callbacks

[code]

[2015-11-15 03:27] tmcw commented on #1082
Can you use a script loader like RequireJS to do this without having to modify Mapbox.js? While I appreciate that there's a concern, a JSONP-style callback is a pretty rare way to tackle this problem - usually people will push scripts to the bottom of the page, or use a script loader, or use a bundler.

[2015-11-15 03:32] bcherny commented on #1082
I guess the problem that JSONP style callbacks solve is knowing when the script loaded. I can just inject a script and listen to the onload event. Was just wondering if something existed already.

[2015-11-15 03:32] #1082 closed, assigned to nobody

[2015-11-16 00:28] bcherny commented on #1082
for anyone that bumps into this in the future, and doesn't want to use a script loader, feel free to use this snippet:

[code]

[2015-11-21 17:45] danswick opened #1083 "geocoderControl 'error' event not fired when match not found"
The docs for `geocoderControl.on('error', ...)` suggest that a request that fails to match with a location should trigger an error event. However, the response just contains an empty set of features:

Example query:

`https://api.mapbox.com/geocoding/v5/mapbox.places/asldkfj.json?types=place,address&access_token=token`

[code]

Which seems to contradict the API docs here:

![image](https://cloud.g

[2015-11-21 22:17] tmcw commented on #1083
These docs should be updated. Error is a request error, like a 404, 500+, DNS issue, etc; it shouldn't be fired for empty result sets.

[2015-11-23 23:38] lyzidiamond opened #1084 "Update L.mapbox.featureLayer() documentation"
The [L.mapbox.featureLayer()](https://www.mapbox.com/mapbox.js/api/v2.2.3/l-mapbox-featurelayer/) doc needs an update to explain what _type_ of ID you can pass (project ID, not data ID). I can do this.

[2015-11-25 12:53] blq opened #1085 "deeper zoom levels"
I notice that many maps (tileLayers) use a maxZoom of about 19 (that the service returns). But by inspection the map data often supports several deeper zoom levels.
Maybe this is more of a question of the maps themselves or the map service. Is this by design or is this a oversight that can be improved?

[2015-11-26 11:22] gingemonster opened #1086 "Compact attribution control does not show in IE11"
If you set a map as follows:

var map = L.mapbox.map('map', 'mapbox.streets', {attributionControl:{compact: true} })
    .setView([40, -74.50], 9);

To show a compact attribution control then the "i" icon in the bottom right is not visible at all. Seems to be something to do with the :after style not getting priority in IE

[2015-11-30 23:03] amozes opened #1087 "noConflict method not working"
When using the documented noConflict method, it fails.
The error reported in console is `L is undefined`.

See fiddle: http://jsfiddle.net/dhbtdsq7/

Please let me know if I'm doing something wrong and/or misinterpreted the doc.

[2015-11-30 23:24] jfirebaugh commented on #1087
Yes, it looks like Mapbox.js is not compatible with `L.noConflict()`. It should be possible to make it compatible, but will require some internal work -- namely, not relying on the global `L` except at script load time.

[2015-12-01 21:22] rbonillajr opened #1088 "TileJSON"
Hi i need make a buffer tool so i have dataset into mapbox data. how to i interact with marker in dataset

[2015-12-01 21:46] jfirebaugh commented on #1088
Hi, this is the issue tracker for Mapbox.js, for reporting bugs and feature requests. Please see https://www.mapbox.com/help/ for support questions.

[2015-12-01 21:46] #1088 closed, assigned to nobody

[2015-12-01 22:04] Randgalt opened #1089 "Other languages?"
How do I get a map in Spanish? I can see that the GL lib supports it. Does the JS lib?

[2015-12-01 22:27] jfirebaugh commented on #1089
For Mapbox.js, you will need to create a custom Mapbox Studio Classic style. See [this help article](https://www.mapbox.com/help/changing-label-language/). It's a bit more involved than with Mapbox GL -- one of the advantages of moving to client-side rendering is that changing the label language can be done on the fly.

[2015-12-01 22:27] #1089 closed, assigned to nobody

[2015-12-03 12:12] ghost opened #1090 "Make geocoder-request abortable"
When using the geocoder as an autocomplete-while-typing library it is important to be able to abort requests.
Normally you should get a handle to the XHR or request object.
Peeking at the code it should be possible to return the request object in query(): it is based on request.js which is based on corslite which returns the request object which is either a XDomainRequest or a XMLHttpRequest. It w

[2015-12-09 11:21] nextstopsun opened #1093 "Constantly moving slider back and forth breaks clipping rectangle in swipe layers example"
When zooming out and then moving slider back and forth, at some point clipping rectangle becomes unresponsive
https://www.mapbox.com/mapbox.js/example/v1.0.0/swipe-layers/

Tested on OS X in Chrome 47.0.2526.73 and Safari 11601.2.7.2
Here's how it looks like:
![Broken range](https://www.dropbox.com/s/k0mfc250fddtffj/Screen%20Shot%202015-12-09%20at%2013.57.25.png?dl=1)

[2015-12-09 18:14] jfirebaugh commented on #1093
Duplicate of #911.

[2015-12-09 18:14] #1093 closed, assigned to nobody

[2015-12-10 03:20] nyurik opened #1094 "Support headless node.js rendering"
For [my project](https://github.com/wikimedia/mediawiki-extensions-Kartographer) to integrate mapbox.js into Wikipedia, I will need to support server-side (node.js) rendering of a map with simplestyle geojson overlays. I saw [this project](https://github.com/jieter/leaflet-headless) for leaflet. Are there any similar projects for mapbox.js?

[2015-12-12 12:08] heaversm opened #1095 "Detecting objects with no length in grid.js"
I had a recurring javascript error originating from `grid.js`  line 12 (of the bower uncompressed downloads)

[code]

any time I moved the mouse over my map - which is this line:

[code]

The line above is:

[code]

but in my case, there is a data object, but it is empty:  (`data = {};`) so a check for no object length would resolve this error:

[code]

[2015-12-12 12:15] dzNavitski opened #1096 "TileJson source v3 limits"
Hi,
does anybody know if this source have limit of views (http://api.tiles.mapbox.com/v3/mapbox.natural-earth-hypso-bathy.jsonp) if I use it without access token?

Thanks in advance

[2015-12-14 01:45] jfirebaugh commented on #1096
The v3 API is no longer supported for use with Mapbox.js versions 2.0 and up.

[2015-12-14 01:45] #1096 closed, assigned to nobody

[2015-12-17 14:49] VinaykumarNM opened #1097 "Mapbox.js : setLayoutProperty for language settings"
Hi,
Maobox.js show map titles (country name, city name etc) in respective native languages. But our requirement is to show all titles (country name, city name) in English only.
Mapbox GL has a method 'setLayoutProperty', is there any similar method/property to set language as 'English'?

Any help would be helpful.

Thanks
Vinay

[2015-12-18 20:01] jfirebaugh commented on #1097
Since Mapbox.js does not use client-side rendering like Mapbox GL, there's no equivalent to `setLayoutProperty`. You can read about how to change the label language for classic styles [here](https://www.mapbox.com/help/change-language/#change-label-language-in-mapbox-studio-classic).

[2015-12-18 20:01] #1097 closed, assigned to nobody

[2016-01-01 03:05] wyattp11 commented on #877
Was this ever resolved? I'm still getting broken links and also looking for the function to initialize the share popup as I'd like to assign it to my own custom button...

[2016-01-04 16:48] jfirebaugh opened #1099 ""Edit in JSFiddle" is broken"
When loaded in JSFiddle via the button, all examples fail. In the JS console:

[code]

[2016-01-04 16:50] jfirebaugh commented on #1099
Ok, they work if you press "Run" again, but not on initial load.

[2016-01-05 08:32] burock opened #1100 "Tile Images fail to Load"
Hi,
I'm trying to include mapbox into my website:

[code]

with html:

[code]

and css:

[code]

But the output is as attached. If I clear the cache and load it for the first time it looks ok, however, on any second view i get this partial display.
![image](https://cloud.githubusercontent.com/assets/786494/12110687/974d7b2c-b397-11e5-8a71-cf075606e5c7.png)

Any advice is welcome..

Cheers,
Burak.

[2016-01-05 11:05] burock commented on #1100
Just in case anyone interested a workaround i did was to add the following (somehow map.invalidateSize did not run without a timeout??)

[code]

[2016-01-12 18:55] #878 closed, assigned to nobody

[2016-01-15 13:30] iH8 opened #1105 "Markup fault in "Displaying WMS layers" example"
https://www.mapbox.com/mapbox.js/example/v1.0.0/wms/

![mapbox](https://cloud.githubusercontent.com/assets/692063/12354179/775fe714-bb94-11e5-9f05-19c0fecdba9c.png)

[2016-01-15 17:50] tristen commented on #1105
Thanks @iH8 looks like the link in the description field of that post needed some proper quotes! Will re-publish shortly.

[2016-01-15 17:50] #1105 closed, assigned to nobody

[2016-01-18 05:02] ezgis504 opened #1107 "Add infowindow popups for WMS"
I am trying to mashup a handful of WMS layers into a Leaflet map. I need the map to include popup infowindows, but this functionality is current unavailable. There are a couple of different scripts out there, but none of them have worked for me. [Leaflet.wms](https://github.com/heigeo/leaflet.wms) seems like a good one, but like I said it doesn't work for me.

[2016-01-20 20:05] #677 closed, assigned to nobody

[2016-01-20 21:37] simon-jouet commented on #1044
Hi @lyzidiamond did you figure out a fix for this issue ? I just started using mapbox for the project and this bug is quite a show-stopper, I have a fairly small map inside a form for the user to enter some information and when the dropdown is open and doesn't close it hides a large part of the map ...

[2016-01-20 21:39] tmcw commented on #1044
This was not quite how I imagined keepOpen working, and also not what it says on the tin: it means the thing will stay open. I don't get how the search bar would be 'open' - it is a text input and has no open state.

[2016-01-20 22:18] simon-jouet commented on #1044
Hi Tom, the thing is by default the input is collapsed you have to click on the magnifying glass icon to display the input.

From my understanding of the documentation at https://www.mapbox.com/mapbox.js/example/v1.0.0/geocoder-keep-open/ the input should be visible by default not the dropdown of the places.

Secondly the first sentence of the page is "Disable toggling to make the geocoder control

[2016-01-22 20:16] lyzidiamond opened #1110 "L.mapbox.styleLayer example"
Per https://github.com/mapbox/mapbox.js/pull/1108. Punting this one to @danswick.

[2016-01-22 20:35] aaronlidman opened #1111 "Single quote in yaml description breaks the header"
<img width="677" alt="screen shot 2016-01-22 at 2 37 03 pm" src="https://cloud.githubusercontent.com/assets/58878/12522268/b523a50c-c11d-11e5-882e-6df7d8cced30.png">

[2016-01-22 20:36] tmcw commented on #1111
yaml is turrble

[2016-01-22 20:46] tristen commented on #1111
Yeah, the description field needs to be wrapped in quotes if there's going to be any characters like that in there. I can fix.

[2016-01-22 20:47] #1111 closed, assigned to nobody

[2016-01-23 23:31] jfirebaugh commented on #905
Our tile server now serves these tiles with the correct Content-Type header.

[2016-01-23 23:31] #905 closed, assigned to nobody

[2016-01-26 11:34] sebastiantiede opened #1112 "Labels disappear on overlapping marker"
I've changed the layer order – everything works fine except one little detail:
all labels disappear that overlap a marker if the label layer is on the top.

in the original sequence the markers overlap labels – as expected.

Thanks in advance
Sebastian

[2016-01-26 12:22] mourner commented on #1112
You probably intended to open this in https://github.com/mapbox/mapbox-gl-js

[2016-01-26 12:22] #1112 closed, assigned to nobody

[2016-01-26 12:29] sebastiantiede commented on #1112
mh, I need to work with mapbox studio because of the export tool.

[2016-01-29 22:29] tmcw commented on #796
-> https://github.com/tmcw/geojson-xyz

[2016-01-29 22:29] #796 closed, assigned to nobody

[2016-02-02 09:07] blq commented on #1085
...bump

[2016-02-03 05:00] philographer opened #1115 "is this mapbox bug or ionic bug?"
Look here
https://github.com/driftyco/ionic/issues/5266

[2016-02-27 02:05] danswick commented on #1110
This was merged.

[2016-02-27 02:05] #1110 closed, assigned to danswick

[2016-02-27 17:38] somsub opened #1121 "Compatibility with leaflet 1.0.x"
Are there plans to support the latest leaflet version?

[2016-02-27 18:04] jfirebaugh commented on #1121
Yes, Mapbox.js will support it after it is released in non-beta form. See #1038.

[2016-02-27 18:04] #1121 closed, assigned to nobody

[2016-03-01 15:24] #941 closed, assigned to tristen

[2016-03-02 15:15] simonvandel opened #1123 "Tile not loading when holding drag on mobile phone"
When dragging the map on [example](https://www.mapbox.com/mapbox.js/example/v1.0.0/), map tiles are instantly loaded while dragging the map on a desktop. However when accessing the same example on an Android phone (Chrome), the tiles load only after dragging has ended. This leads to white areas, which is unwanted.

Is it possible to have the same behavior on the phone as on the desktop?

[2016-03-02 17:37] jfirebaugh commented on #1123
Yes, set the [`updateWhenIdle` option](http://leafletjs.com/reference.html#tilelayer-updatewhenidle) for the tile layer to true.

[2016-03-02 17:37] #1123 closed, assigned to nobody

[2016-03-04 19:53] sebastialonso commented on #339
The URL doesn't work anymore. How could I set the path locally? I'm importing leaflet from my project's node_modules folder, but I get a 404 in the developer console.

[2016-03-13 11:49] nyurik opened #1126 "Bug in geometryToLayer() call"
FeatureLayer calls `geometryToLayer(json, options)` with a function as the second parameter, instead of passing in an object with that function as one of the values. Compare:

[mapbox code](https://github.com/mapbox/mapbox.js/blob/95a08fc8f8a7590a74698a1d53cd9222897159f3/src/feature_layer.js#L94)

[leaflet code](https://github.com/Leaflet/Leaflet/blob/7de33f0f7b4191e1ff92dbf838856eab51196c78/src/l

[2016-03-13 16:53] nyurik commented on #1126
After a few trial and errors, I finally realized that mapbox.js was using leaflet 0.7.7, whereas the [leaflet-headless](https://github.com/jieter/leaflet-headless) i was trying to use was already on leaflet 1.0.0beta.  Any plans/etca to upgrade?

[2016-03-13 19:29] tmcw commented on #1126
Yes, in https://github.com/mapbox/mapbox.js/issues/1038#issuecomment-137818756 - as soon as 1.0 is released, we'll track it.

[2016-03-13 19:31] nyurik commented on #1126
thx!  @tmcw, could you check pull #1127 - its a very simple PNG recompression to optimize its size.

[2016-03-13 19:31] #1126 closed, assigned to nobody

[2016-03-13 20:02] #340 closed, assigned to nobody

[2016-03-13 20:03] #204 closed, assigned to ansis

[2016-03-22 10:38] robertberry-zz commented on #1060
Could you not write a small wrapper for Leaflet and at least import it, though, when you reference it within the Mapbox codebase?

You have modules like this:

https://github.com/mapbox/mapbox.js/blob/mb-pages/src/feedback.js

As L is only set into the 'window', this means it's not available as a global in Node. This means if I write any tests that import modules that then import Mapbox, I get thi

[2016-03-23 22:19] tmcw commented on #1115
Sorry, we can't really set up an entire Ionic development environment to confirm a bug, you'll need to do some digging and come up with a more precise bug report.

[2016-03-23 22:19] #1115 closed, assigned to nobody

[2016-03-23 22:20] tmcw commented on #1107
Sorry, we don't plan on spending much time implementing WMS compatibility. You'll need to find or build a compatible Leaflet plugin that fits your usecase.

[2016-03-23 22:20] #1107 closed, assigned to nobody

[2016-03-23 22:21] tmcw commented on #1100
This problem is described in our existing help documentation: https://www.mapbox.com/help/blank-tiles/#your-map-is-hidden

[2016-03-23 22:21] #1100 closed, assigned to nobody

[2016-03-23 22:23] tmcw commented on #1094
We don't plan on implementing headless mode for mapbox.js. The Leaflet code may end up being compatible, but Leaflet is at heart a browser library that will have uncertain compatibility with servers - our efforts are spent on [mapbox-gl-native](https://github.com/mapbox/mapbox-gl-native)'s headless rendering mode instead. The previous implementation of static maps at Mapbox uses [node-blend](https

[2016-03-23 22:23] #1094 closed, assigned to nobody

[2016-03-23 22:24] tmcw commented on #1090
This sounds like a decent enhancement for a release where we improve the geocoder code.

[2016-03-23 22:24] #1079 closed, assigned to nobody

[2016-03-23 22:34] tmcw commented on #1060
Same as earlier issue #726

We're 100% open to a great PR that fixes the issue. Unfortunately many of the solutions have already been explored and are dead ends: if we wrap and require Leaflet we'll break standalone builds, and so on.

[2016-03-23 22:34] #1060 closed, assigned to nobody

[2016-03-23 22:35] tmcw commented on #1085
This is by design. Leaflet doesn't support variable zoom levels and we don't have a service to overzoom consistently with raster tiles.

[2016-03-23 22:35] #1085 closed, assigned to nobody

[2016-03-23 22:36] #928 closed, assigned to nobody

[2016-03-23 22:36] #500 closed, assigned to nobody

[2016-03-23 22:36] #518 closed, assigned to nobody

[2016-03-23 22:36] #439 closed, assigned to nobody

[2016-03-23 22:40] #720 closed, assigned to nobody

[2016-03-23 22:52] tmcw opened #1129 "Support 'country' option on Geocoder and geocoder API methods"
We now support a few great extra methods for our geocoder: we should support them here too!

[2016-03-29 09:13] blq commented on #1085
My question is not actually about overzooming. I simply noticed that there are often couple of more real standard tile layers available that can be reached, but are for some reason not included in the zoom-level-counter.

[2016-03-29 22:49] ericmconnelly commented on #339
anyone?

[2016-03-30 15:56] #1129 closed, assigned to nobody

[2016-03-30 16:13] tmcw commented on #1090
This will require a major version bump - 3.0.0 release only.

[2016-03-30 16:14] #1083 closed, assigned to nobody

[2016-03-30 16:16] tmcw commented on #1061
There are many other examples demonstrating GeoJSON loading from URLs: https://www.mapbox.com/mapbox.js/example/v1.0.0/geojson-marker-from-url/

[2016-03-30 16:16] #1061 closed, assigned to nobody

[2016-03-30 16:24] #484 closed, assigned to nobody

[2016-03-30 16:24] #696 closed, assigned to nobody

[2016-03-30 17:37] #1071 closed, assigned to nobody

[2016-03-30 19:42] #964 closed, assigned to nobody

[2016-03-30 19:43] #820 closed, assigned to nobody

[2016-03-30 19:46] #918 closed, assigned to nobody

[2016-04-01 22:37] tmcw commented on #689
Done https://www.mapbox.com/mapbox.js/api/v2.4.0/#the-ready-event

[2016-04-01 22:37] #689 closed, assigned to nobody

[2016-04-04 11:44] PatrickStotz opened #1133 "Drawing lots of svg elements is super slow in IE/Edge"
Adding more than a few hundred items with mapbox.js is super slow in IE.
Chrome, Firefox & Safari are doing fine (50s vs. 1 second)
Demo: https://jsfiddle.net/3w1hz608/3/

This applies to line features as well as point features/markers. I've tried a ton of different ways to load and parse the data, but it seams to be the svg drawing that's not working properly.

Using Leaflet 0.7.3 fixes the probl

[2016-04-04 12:46] PatrickStotz commented on #1133
Leaflet 0.7.7. is affected, too. Mapbox.js standalone + leaflet 0.7.3 works for the moment

[2016-04-04 13:12] tmcw commented on #1133
SVG is simply slow in IE once you have a certain number of elements. Mapbox.js doesn't affect the SVG renderer in Leaflet at all - any method you call on `L` that isn't part of `L.mapbox` is totally unaffected by Mapbox. This performance ceiling is one of the main reasons we've focused on [Mapbox GL JS](https://www.mapbox.com/mapbox-gl-js/) instead of Mapbox.js recently.

[2016-04-04 14:27] PatrickStotz commented on #1133
I see the benefits of moving to WebGL, but for the moment I just have to support SVG & IE (even if it hurts sometimes).
As mentioned before, Leaflet 0.7.3 is working perfectly fine. Rendering time < 1 second. It's Leaflet 0.7.7.  (and mapbox accordingly) that's blowing up the rendering time to like 50-60 seconds.

[2016-04-11 19:19] geografa opened #1134 "add styleLayer to API doc"
add styleLayer to API docs:
https://github.com/mapbox/mapbox.js/tree/mb-pages/docs/_posts/api/v2.4.0

[2016-04-15 02:51] eddietejeda opened #1135 "mapbox.js 1.6 branch does not build because of missing 'esprima-six' module"
The 'esprima-six' module was unpublished from npm and now the library does not build.

More information:
http://stackoverflow.com/questions/33608630/what-happened-to-the-esprima-six-npm-module

Error message:

[2016-04-17 07:16] edg2s opened #1137 "Use SVG for icons"
Currently we build a PNG and a 2x PNG. In most browsers we can just use the SVG directly.

[2016-04-18 09:07] davidr-halomicrosystems commented on #955
Yeah just experienced this using the following 👍

v2.4.0/mapbox.js'
v2.4.0/mapbox.css'

and leaflet.css. Was worried I needed it as im using plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen as well. Anyway removed leaflet.css and all is well now

[2016-04-19 04:27] tmcw commented on #1137
Mapbox.js supports [IE8+](https://www.mapbox.com/mapbox.js/api/v2.4.0/) and [IE8 doesn't support SVG](http://caniuse.com/#search=svg), so we can't do this without breaking a promise.

[2016-04-19 08:04] edg2s commented on #1137
I'm not suggesting you drop the PNGs/IE8 support completely. There are many ways to target specific versions of IE in CSS: body classes, conditional comments or the linear-gradient trick.

[2016-04-19 08:19] tmcw commented on #1137
Having IE8 support would mean still having a png & png2x resource around, and then adding a compatibility hack on top of that. It would add complexity to a part of Mapbox.js that is currently working quite well, so I'd rather not implement it.

[2016-04-19 08:21] edg2s commented on #1137
Complexity? It's one of the more simple browser hacks. I imagine it isn't the only one in your library. In MediaWiki we use the linear-gradient trick: http://pauginer.com/post/36614680636/invisible-gradient-technique

This is very easy to implement, the only downside is it still serves PNGs to IE9, but that is no worse than the current situation.

[2016-04-19 10:15] edg2s commented on #1137
We are already using the SVG background image in Wikipedia's new map extension where it works fine: https://gerrit.wikimedia.org/r/#/c/282937/
Ideally we can replace that hack with this upstream fix.

[2016-04-19 20:37] nadj opened #1140 "Markers search and tooltip"
Hi, I have an input field on my map that searches for marker by an entered id.
When the marker is found I want to open the tooltip of that marker.
Here is my example  (try to enter 1,2, or 3 in the input field located at the botom center of the map):
[https://jsfiddle.net/n4auLfp8/](url)

Can't figure out how to open the tooltip.

[2016-04-22 12:31] edg2s commented on #1137
As you can see this change is only two extra lines of CSS. Do you still have any objections?

[2016-04-22 21:13] monkeyboy64 opened #1141 "pngjs dependency on node-zlib-backport causes npm install failure"
pngjs just added a new dependency on node-zlib-backport.

node-zlib-backport doesn't build on os-x:

  CXX(target) Release/obj.target/zlib/src/node_zlib.o
In file included from ../src/node_zlib.cc:32:
/Users/adam/.node-gyp/5.1.0/include/node/node_internals.h:6:10: fatal error: 'util-inl.h' file not found
# include "util-inl.h"

[code]

1 error generated.
make: **\* [Release/obj.target/zlib/src/nod

[2016-04-23 21:28] tmcw commented on #1137
@tristen @samanpwbb do you think this is a good path to go down for icons?

[2016-04-24 10:35] edg2s commented on #1137
It's worth noting that there are an increasing number of devices with 3x or higher pixel densities, and zooming into the interface is much more common on touch devices.